%section.search-results{:style => "height: 700px"}
  .row-fluid
    .left-bar{:style => "height: 700px; position: absolute; width: 270px; left: 0"}
      .well{:style => "padding: 20px;"}
        .nav-header 
          %h2
            Browse
          %p
            (only showing properties with a case history)
        %form{:style => "padding: 0px 10px;"}
          / =select( "case_active", "case_active", { "Active Cases" => "0", "Closed Cases" => "1"})
          %div
            %p{:style => "font-size: 120%; padding-left: 0 10px; margin: 15px 0 5px"}
              Case:
              %br
            =select( "only_recent_status", "only_recent_status", { "All Cases" => "0", "Only Recent Status" => "1"})
          %div
            %p{:style => "font-size: 120%; padding-left: 0 10px; margin: 15px 0 5px"}
              Status:
              %br
            =select( "status", "status", { "Inspected" => "inspections", "Notified" => "notifications", "Hearing" => "hearings", "Judgment" => "judgement", "Abatement" => "maintenances", "Demolitions" => "demolition", "Foreclosure" => "Foreclosures"})
          %div
            %p{:style => "font-size: 120%; padding-left: 0 10px; margin: 15px 0 5px"}
              Date:
              %br
            =date_select("start_date", "start_date",  :default => @date, :order => [:month, :year], :start_year => 2012, :end_year => @date.year, :discard_day => true)
          %div
            %p{:style => "font-size: 120%; padding-left: 0 10px; margin: 15px 0 5px"}
              Show Stats:
              %br
            =select( "show_stats", "show_stats", { "Hide Stats" => "0", "Show Stats" => "1"})
          %div
            #map-loading{:style => "margin: 0 auto; width: 150px; background-color: red; color: white; display: none;"}
              Map Loading....
            #no-data{:style => "margin: 0 auto; width: 150px; background-color: red; color: white; display: none;"}
              No results
            #stats-row


  .right-bar{:style => "left: 270px;width: 75%; position: absolute"}
    .toggle
      .btn-group{:style => "height: 50px"}
        / %input#map-search-mode{:name => "map-search-mode" , :type => "checkbox", :value => "true", :class => "filter-checkbox"}
        / %label.btn{:for => "map-search-mode"} Reload map when map is moved 

    #map{:style => "height: 550px; border: 1px solid #aaa"}

  .row
  .btn-toolbar
    .btn-group