%section.no-search-results.container
  .row-fluid
    .row
      / .address-title
      /   %h2 Data Overview
      .status-update
        .no-status
          .recommended-next-action
            .clearfix
            .layout-wrapper
              .layout-slider
                %input#timeline-range{:type=>"slider", :name=>"area"}


            .clearfix
            %br
            .span2

              .nav.nav-list
                .nav-header
                  Select Filters
                  .btn-group
                    %input#checkbox-inspections{:name => "filter-type" , :type => "radio", :value => "inspections", :class => "filter-checkbox"}/
                    %label.btn{:for => "checkbox-inspections"} Inspections 
                    %br
                    %input#checkbox-hearings{:name => "filter-type" , :type => "radio", :value => "hearings", :class => "filter-checkbox"}/
                    %label.btn{:for => "checkbox-hearings"} Hearings
                    %br
                    %input#checkbox-judgements{:name => "filter-type" ,:type => "radio", :value => "judgements", :class => "filter-checkbox"}/
                    %label.btn{:for => "checkbox-judgements"} Judgments
                    %br
                    %input#checkbox-demolitions{:name => "filter-type", :type => "radio", :value => "demolitions", :class => "filter-checkbox"}/
                    %label.btn{:for => "checkbox-demolitions"} Demolitions
                  .stats
                    .total Total:
                    #total_number


                  / %li.nav-stats.active 
                  /   =link_to "Demolitions", '/cases.json?table=demolitions', :method => :get,  :remote => true
                  / %li.nav-stats 
                  /   =link_to "Inspections", '/cases.json?table=inspections', :method => :get,  :remote => true
                  / %li.nav-stats 
                  /   =link_to "Hearings", '/cases.json?table=hearings',  :method => :get, :remote => true
                  / %li.nav-stats 
                  /   =link_to "Judgements", '/cases.json?table=judgements', :method => :get,  :remote => true

            .span9
              #stats-map{:style => "width: 100%; height: 500px"}
