.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#abatement-1"}
    When a foreclosed property is sold at a Sheriff sale, does the previous owner receive any proceeds from the sale?
  #abatement-1.answer.collapse
    %p
      When a property is sold at a Sheriff sale, the previous owner may receive the remaining proceeds from the sale after all liens, taxes and associated costs have been covered.


  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#abatement-2"}
    How is the starting bid amount determined at a Sheriff sale?
  #abatement-2.answer.collapse
    %p
      When a foreclosed property goes to Sheriff sale for the first time, Louisiana state law requires that the opening bid be no lower than 2/3 of the appraised value of the property, and must cover all superior claims (i.e., all of the outstanding liens, taxes, and administrative costs associated with the property). Under the law, the property owner has the right to have the property independently appraised to help determine this amount.
    %p
      If 2/3 of the appraisal results in an opening bid insufficient to cover the superior claims, then the opening bid will be raised to reflect those expenses.
    %p
      If the property doesn't sell at the first sale date and is rescheduled for a second Sheriff sale date, the 2/3 limit is lifted and the starting bid is no longer required to be any higher than the costs of the superior claims. This is 


  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#abatement-3"}
    How does the City decide when to demolish a property?
  #abatement-3.answer.collapse
    %p
      The Department of Code Enforcement moves very quickly to demolish structures that are in imminent danger of collapsing. For a property that is blighted but not in danger of collapsing, the department considers demolition based on the severity of the blight.
    %p
      Given the City’s limited financial resources and commitment to protecting the long term architectural make up of the city, not every property can be demolished. When the department does initiate demolition, the property owner must receive sufficient notification, and an independent review process must be met.

