/ this is the same as inspections for now. but this will eventually be it's own set of questions
.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#general-1"}
    How current is the data in blightSTATUS?
  #general-1.answer.collapse
    It depends on where the property is in the process. If there are no open cases against the property in question, please report it to the City by dialing 3-1-1.

    If the property does have an open case against it, the best opportunity to provide information is by attending the public hearing. (link to “attend a hearing” answer)

