.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#inspections-1"}
    How does the City decide which properties get inspected?
  #inspections-1.answer.collapse
    %p The Department of Code Enforcement responds directly to complaints from 311. If you’d like a property to be inspected, check on blightSTATUS to see if there is already an inspection scheduled, and if not, please report the property by dialing 3-1-1.

    %p If you know a property has been reported but isn’t showing up on blightSTATUS yet, it is most likely in the process of being assigned an inspection date. This can take longer than expected because the City currently has a large backlog of properties that they are trying to work through at the same time as responding to new reports. 


  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#inspections-2"}
    What are inspectors looking for when they inspect a property?
  #inspections-2.answer.collapse
    %p 
      Generally, Code Enforcement inspectors are checking for violations of 
      =link_to "New Orleans’ housing standards.", "http://www.nola.gov/RESIDENTS/Code-Enforcement/City-of-New-Orleans-Housing-Standards/"  
      The Code Enforcement department inspects all aspects of the property, including grass, debris, walls, roofs, driveways, sheds, porches and drainage for violations. However, violations of health or zoning codes are handled by other City departments, and are not considered a part of the blight abatement process.
