.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#judgements-1"}
    What does it mean when a property is judged guilty of Public Nuisance and/or Blight? What happens next?
  #judgements-1.answer.collapse
    %p
      If a hearing officer declares a property owner guilty of Public Nuisance and/or Blight on the date of the administrative hearing, the owner will be given 30 days to correct the violations. During those 30 days, daily fines will accrue against the owner, in an amount ranging from $100 to $500 per day (the exact amount is determined at the discretion of the hearing officer). 
    %p
      If the violations are not corrected by the 31st day after the hearing, the guilty judgment will be recorded, and the owner is responsible for any fines that have accrued over the past 30 days (total amount not to exceed $15,000, plus administrative and recording fees). At this point, the City has the legal right to pursue either code lien foreclosure or demolition.
    %p
      If the owner corrects the violations before the 31st day, fines may be waived.


  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#judgements-2"}
    What does it mean when a property is judged a “Public Nuisance?” What happens next?
  #judgements-2.answer.collapse
    %p
      If a property is declared a “public nuisance,” an owner has ten days to correct or remove the nuisances. The owner must prove that this has been done by sending in photographs and copies of contracts. A City inspector will revisit the property to verify that the property now meets City laws.
    %p
      A one-time extension may be granted if an owner proves that additional time is needed. To request an extension, the owner should contact the Code Enforcement Department at 504-658-4346.
    %p
      If a public nuisance has not been removed within ten days of a final judgment and an extension has not been given, a fine of $100-$500 a day will be charged against the property owner. In addition, the City will notify the property owner that the City can enter the property to remove the nuisances. If this happens, the owner will be charged with the fees and costs related to the City removing the nuisances. A verdict of Public Nuisance also gives the City the legal right to demolish the property if necessary.