.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#judgements-1"}
    What does it mean when a property is judged guilty of Public Nuisance and/or Blight? What happens next?
  #judgements-1.answer.collapse
    %p
      If a hearing officer declares a property owner guilty of Public Nuisance and/or Blight on the date of the administrative hearing, the owner will be given 30 days to correct the violations. During those 30 days, daily fines will accrue against the owner, in an amount ranging from $100 to $500 per day (the exact amount is determined at the discretion of the hearing officer). 
    %p
      If the violations are not corrected by the 31st day after the hearing, the guilty judgment will be recorded, and the owner is responsible for any fines that have accrued over the past 30 days (total amount not to exceed $15,000, plus administrative and recording fees). At this point, the City has the legal right to pursue either code lien foreclosure or demolition.
    %p
      If the owner corrects the violations before the 31st day, fines may be waived.
