.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#judgements-1"}
    What does it mean when a property is judged as “Blight?” What happens next?
  #judgements-1.answer.collapse
    %p
      If a property is declared “blight,” the property can be seized under the City’s eminent domain authority (link to eminent domain definition).
    %p
      Before attempts to seize a property, the property owner will be given the opportunity to enter into an agreement with the City to repair or sell the property. Daily fines are suspended during the duration of the agreement.
    %p
      If the property owner does not enter into the agreement or breaches the terms of the agreement, the New Orleans Redevelopment Authority can initiate the process to forcibly acquire ownership of the property. If a property is seized, the owner will be paid fair market value for it (however, this amount will naturally be lower than if the owner repaired the property and sold it themselves).


  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#judgements-2"}
    What does it mean when a property is judged a “Public Nuisance?” What happens next?
  #judgements-2.answer.collapse
    %p
      If a property is declared a “public nuisance,” an owner has ten days to correct or remove the nuisances. The owner must prove that this has been done by sending in photographs and copies of contracts. A City inspector will revisit the property to verify that the property now meets City laws.
    %p
      A one-time extension may be granted if an owner proves that additional time is needed. To request an extension, the owner should contact the Code Enforcement Department at 504-658-4346.
    %p
      If a public nuisance has not been removed within ten days of a final judgment and an extension has not been given, a fine of $100-$500 a day will be charged against the property owner. In addition, the City will notify the property owner that the City can enter the property to remove the nuisances. If this happens, the owner will be charged with the fees and costs related to the City removing the nuisances. A verdict of Public Nuisance also gives the City the legal right to demolish the property if necessary.