.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#notifications-1"}
    What is a notification?
  #notifications-1.answer.collapse
    If a City inspector determines that the property they are inspecting violates any of the 
    =link_to "City’s housing standards", "http://www.nola.gov/RESIDENTS/Code-Enforcement/City-of-New-Orleans-Housing-Standards/"
    , the owner receives a Notice of Violation, which lists the specific violations observed, and gives a hearing date. The notice is posted on the property and is mailed to the owner as part of a Notice of Violation packet.
