.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#notifications-1"}
    How is a property owner notified that their property is in violation of City codes?
  #notifications-1.answer.collapse
    %p
      As dictated by state and local law, the property owner or owners are notified via certified mail to the mailing address listed with
      =link_to "the Assessor.", "http://nolaassessor.com/"
      If unsuccessful, the City will also call listed phone numbers and post an ad in 
      =link_to "the Times-Picayune.", "http://classifieds.nola.com/?cur_cat=6869&orig_cat=6869&property=nola.com&orig_prop=nola.com&temp_type=browse&category=results&tp=ME_nola&classification=Notices%20and%20Announcements"
      The City also goes beyond legal requirements to conduct a paid People Finder search for best known addresses. 
