.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#notifications-3"}
    What happens if the City can’t find a property owner to notify them of any violations?
  #notifications-3.answer.collapse
    %p
      Hearings are open to the public and community members with any relevant information about a property or property owner are encouraged to attend the hearing for that property and request to testify .
    %p
      Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
      A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found 
      =link_to "here.", "https://data.nola.gov/Administrative-Data/Upcoming-Hearings-Calendar/jgfe-etbj" 
