.questions
  .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#reset-1"}
    What is a "reset"?
  #reset-1.answer.collapse
    %p
      During a hearing, an owner has the opportunity to enter into an agreement to make the necessary repairs to their property. If they do this, the Code Enforcement Department gives them a “reset” hearing date. During a reset hearing, the owner must show that they have completed the work outlined in the agreement. If they have not, daily fines can begin. 