.questions
	.question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#abatement-1"}
		If a property is seized by the City, does the owner get compensated?
	#abatement-1.answer.collapse
		%p
			Yes. The City is required to pay the owner a fair market value for the property. However, this amount will naturally be lower than if the owner repaired it and sold it themselves.


	.question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#abatement-2"}
		How does the City decide when to demolish a property?
	#abatement-2.answer.collapse
		%p
			The Department of Code Enforcement moves very quickly to demolish structures that are in imminent danger of collapsing. For a property that is blighted but not in danger of collapsing, the department considers demolition based on the severity of the blight.
		%p
			Given the City’s limited financial resources and commitment to protecting the long term architectural make up of the city, not every property can be demolished. When the department does initiate demolition, the property owner must receive sufficient notification, and an independent review process must be met.