BlightStatus

Here's your daily digest for your subscribed BlightStatus properties.

The following properties have been updated:

-@subs.each do |sub|
  #{sub.address.address_long} (http://blightstatus.nola.gov/addresses/#{sub.address.id})
