%html
  %head
  %body
    %table
      %tr
        %td
          %img{:src => "blightstatus-dev.herokuapp.com/assets/blightstatus-logo-bdaea71cfa8012d1f70b58acef5f488b.png"}
      %tr
        %td
          %h1 Here's your daily digest for your subscribed blightstatus properties.
          %br
          %h2 The following properties have been updated:
      %tr
        %td
          %table
            -@subs.each do |sub|
              %tr
                %td
                  %a{:href => "http://www.blightstatus.com#{address_path(sub)}" }
                    %h3 sub.address_long

