%html
  %head
  %body
    %img{:src => "http://www.blightstatus.com/assets/blightstatus-logo-bdaea71cfa8012d1f70b58acef5f488b.png"}
    %h1 Here's your daily digest for your subscribed blightstatus properties.
