#legal-disclaimer.modal
  .modal-header
    %h3 Warning!
  .modal-body.disclaimer
    %p 
      The City is in the process of 
      %b moving its property data 
      into a new and improved internal system.
    %p 
      While this happens, 
      %b the data in BlightSTATUS may be incomplete, 
      but it will continue to improve every week, so stay tuned!

  .modal-body.disclaimer-email-form
    %form{:action => 'http://www.blightstatus.com/signup', 'method' => "POST"}
      %p
        Enter your email below, and we'll let you know when we've launched:
      %p
        %input{:type=>"text", :placeholder=>"Email", :name=>"email", :id => "signup-post-email", :class=>"email", :style => "margin-bottom: 0px"}
        %input.btn.btn-primary{:type=>"submit", :value=>"Sign me up", :id => "subscribe-to-notification", "data-dismiss" => "modal"}
