%section.frontpage
  .container
    .row
      .home-search
        .search-bubble
          %h1 Find out what’s going on with properties in New Orleans.
          %br.search-form
          =form_tag("/addresses/search", :method => "get") do
            .search-field
              =text_field_tag 'address', '', :placeholder => "Example: 2326 Gravier St", :id => "main-search-field"
            .search-button
              =submit_tag("Search", :class => 'btn btn-primary btn-primary-search')
          %span.help-block Enter any street name or address within Orleans Parish, Louisiana
          .speak-bubble
        .home-illustration
        / %h3.tag-line Find out what’s going on with properties in New Orleans.

    %br
    %br
    %br
    / %br
    / %br
    / %hr.soften
    .row
      %h3.tag-line{:style => "text-transform: uppercase; font-size: 200%; padding-bottom: 20px; width: 50%; margin-left: 250px"}
        Try some example searches:

    .row.frontpage-screenshot
      .span3
        =link_to(image_tag("specific-address.png", :alt => "View single address"), "/addresses/100996")
        %h3
          %b
            Specific address:
          %br
          3120 Mistletoe St

      .span3
        =link_to(image_tag("streetname.png", :alt => "View single address"), "/addresses/search?utf8=%E2%9C%93&address=n+roman+st&commit=")
        %h3
          %b
            Street name:
          %br
          N Roman St


      .span3
        =link_to(image_tag("neighborhood.png", :alt => "View single address"), "/addresses/search?utf8=✓&address=mid-city&commit=Search")
        %h3
          %b
            Neighborhood name:
          %br
          Mid-City
      .span3
        =link_to(image_tag("citywide.png", :alt => "View single address"), "/browse")
        %h3
          %b
            Or Browse Map


    .clear


