.content.frontpage
  .row
    .span8.home-search
      .search-bubble
        What's the status?
        %br
        =render "addresses/search"
        %span.help-block Type any street name or address within Orleans Parish, Louisiana
    .span4.home-illustration
      %img{:src => "/assets/dude_house.png"}
      testing right col

  .clear
