%section.frontpage
  .container
    .row
      .home-search
        .search-bubble
          %h1 What's the status?
          %br
          =render "layouts/search"
          %span.help-block Enter any street name or address within Orleans Parish, Louisiana
          .speak-bubble
        .home-illustration
        .tag-line
          Find out what’s going on with properties in New Orleans.


    .clear
