%section.frontpage
  .container
    .row
      %h1.tag-line Find out what’s going on with properties in <br> New Orleans.
    .row
      %h3.lighten There are two ways to use Blightstatus:
    %hr.soften
    .row
      %h2 Have a specific address or street name in mind?
    .row
      .search-bubble
        .span10
          =form_tag("/addresses/search", :method => "get", :class => "search-form") do
            .search-field
              =text_field_tag 'address', '', :placeholder => "Example: 2326 Gravier St", :id => "main-search-field"
            .search-button
              =submit_tag("Search", :class => 'btn btn-primary btn-primary-search')
          %span.help-block Enter any street name or address within Orleans Parish, Louisiana
          %span.help-block
            Need Ideas? Try
            =link_to "1234 Sample St", "#"
        .clearfix
    .row
      .samples
        %h3 Or, 
          =link_to "browse by map", "/browse"
    %hr.soften
    .row
      %h2 Want to browse, or get a big-picture view?
      %a{ :href => "/browse" }
        =image_tag "map-background.png", :width => 890
      %a{ :href => "/browse" }
        %h3 Browse the map
    %hr.soften
    .row.more-info
      %h2 What else can I do with Blightstatus?
      .span3 
        %h4 Subscribe
        =image_tag "subscribe_icon.png"
      .span3 
        %h4 Receive alerts
        =image_tag "alerts_icon.png"
      .span3 
        %h4 Get context
        =image_tag "context_icon.png"
      .span3 
        %h4 Watch our video to learn more
        <iframe src="http://player.vimeo.com/video/49144625" width="220" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        

    .clear
