%section.frontpage
  .container
    .row
      .home-search
        .search-bubble
          %h1 What's the status?
          %br.search-form
          =form_tag("/addresses/search", :method => "get") do
            .search-field
              =text_field_tag 'address', '', :placeholder => "Example: 2326 Gravier St", :id => "main-search-field"
            .search-button
              =submit_tag("Search", :class => 'btn btn-primary btn-primary-search')
          %span.help-block Enter any street name or address within Orleans Parish, Louisiana
          .speak-bubble
        .home-illustration
        .tag-line
          Find out what’s going on with properties in New Orleans.


    .clear
