.container.about-page-content
  .span12
    =image_tag "blightstatus-logo.png", :style => "margin-bottom: 40px"
    .br
  .span12
  .left-bar.span6
    .row
      %h2 What does it do?
      %p BlightSTATUS makes it simple for residents to find out what’s going on with blighted properties in their community – no long waits on the telephone or visits to City Hall required. 
      %p A great example of government transparency at work, BlightSTATUS pulls up-to-date property information directly from the City’s official records, providing a single, comprehensive and authoritiative view to the public for the very first time.       

      .left{:style => "padding-top: 10px;"}
        %h4{:style => " margin-bottom: 5px"} The latest status, at a glance

        %p Check out a property’s status bar to instantly see where that property stands in the blight process – and what’s coming next. Want to know more? Scroll down  to the detailed case history for a step-by-step description of what’s happened so far, and when. 

      .right{:style => "padding-top: 10px;"}
        %h4{:style => " margin-bottom: 5px"} Receive alerts on the go
        %p Subscribe to receive instant alerts via email or text message the moment the status changes on properties you care about. Subscribe to one property, a whole block, or your entire neighborhood, and you’ll always be in the know.      
      .clearfix

    .row
      %h2 Why did we make it?
      %p In New Orleans, countless organizations are working around the clock to improve local communities and reduce blight throughout the city -- from community groups and non-profits to City Hall and the local Redevelopment Authority (NORA). 

      %p However, each of these organizations collect and manage data about blighted properties in entirely different ways, which results in duplicated efforts, inconsistent information, and precious energy wasted.

      %p We’ve partnered with New Orleans City Hall and NORA to create this site to provide accurate and up-to-date information about the City’s efforts to reduce blight that everybody can use. We hope that this simple and publicly-accessible resource will make the work of these great organizations just a little bit easier.

    .row
      %h2 BlightSTATUS in your city
      %p We know this problem isn’t unique to New Orleans - there are numerous municipalities across the country tasked with managing a large number of vacant or blighted properties. We want to put blightSTATUS to work for you, too!

      %p 
        Get in touch: 
        =mail_to "neworleans@codeforamerica.org", "neworleans@codeforamerica.org"


    .row
      %h2 Help us help you!
      %p 
        We want blightSTATUS to make your work easier, not harder. If something is confusing or there is a feature missing that would make your work easier, please, 
        %a{:href => "mailto:blightstatus@codeforamerica.org"} 
          let us know!



  .right-bar.span4
    .meet-the-team
      %h2
        MEET THE TEAM      
      .span4.img-block
        =image_tag 'http://codeforamerica.org/wp-content/uploads/2011/10/Amir.jpg'
        .image-name
          Amir Reavis-Bey
      .span4.img-block
        =image_tag 'http://codeforamerica.org/wp-content/uploads/2011/10/Serena.jpg'
        .image-name
          Serena Wales
      .span4.img-block
        =image_tag 'http://codeforamerica.org/wp-content/uploads/2011/10/Alex_Pandel.jpg'
        .image-name
          Alex Pandel
      .span4.img-block
        =image_tag 'http://codeforamerica.org/wp-content/uploads/2011/10/Eddie.jpg'
        .image-name
          Eddie A Tejeda
    .clearfix
    .our-partners
      %h2
        OUR PARTNERS
      .city-of-new-orleans
      .code-for-america
      .nora
    .clearfix
    .get-in-touch{:style => "font-size: 110%"}
      %h2 GET IN TOUCH          
      %p
        Reuse & general info:
        %p{:style => "padding-left: 30px"}
          =mail_to "neworleans@codeforamerica.org", "> neworleans@codeforamerica.org"
      %br
      %p
        Feedback, suggestions, or bugs:
        %p{:style => "padding-left: 30px"}
          %a{:href => "mailto:blightstatus@codeforamerica.org"} 
            > blightstatus@codeforamerica.org

      / %p
      /   Twitter:
      /   %p{:style => "padding-left: 30px"}
      /     =link_to "> @blightSTATUS", "http://twitter.com/blightSTATUS"
