.container
  .span7
    %h2 What does it do?

    %p
      BlightSTATUS makes it simple for residents to find out what’s going on with blighted properties in their community – no long waits on the telephone or visits to City Hall required. 
    %p
      A great example of government transparency at work, BlightSTATUS pulls up-to-date property information directly from the City’s official records, providing a single, comprehensive and authoritiative view to the public for the very first time.       
    .span5
      %h3 The latest status, at a glance

      %p
        Check out a property’s status bar to instantly see where that property stands in the blight process – and what’s coming next. Want to know more? Scroll down  to the detailed case history for a step-by-step description of what’s happened so far, and when. 

    .span5
      %h3 Receive alerts on the go
      %p Subscribe to receive instant alerts via email or text message the moment the status changes on properties you care about. Subscribe to one property, a whole block, or your entire neighborhood, and you’ll always be in the know.      

    .row
      %h2 Why did we make it?
      %p BlightSTATUS makes it simple for residents to find out what’s going on with blighted properties in their community – no long waits on the telephone or visits to City Hall required. 
      %p A great example of government transparency at work, BlightSTATUS pulls up-to-date property information directly from the City’s official records, providing a single, comprehensive and authoritiative view to the public for the very first time. 


    .row
      %h2 BlightSTATUS in your city
      %p We know this problem isn’t unique to New Orleans - there are numerous municipalities across the country tasked with managing a large number of vacant or blighted properties. We want to put blightSTATUS to work for you, too!
      %p 
        Let’s collaborate: partnerships@blightstat.us



    .row
      %h2 Help us help you!
      %p 
        We want blightSTATUS to make your work easier, not harder. If something is confusing or there is a feature missing that would make your work easier, please, let us know!
      %p 
        Get in touch: support@blightstat.us



  .span4
    .meet-the-team.row
      %h3
        MEET THE TEAM      
      .span4
        =image_tag 'http://codeforamerica.org/wp-content/uploads/2011/10/Amir.jpg'
        %p
          Amir Revis-Bay
      .span4
        =image_tag 'http://codeforamerica.org/wp-content/uploads/2011/10/Serena.jpg'
        %p
          Serena Wales
      .span4
        =image_tag 'http://codeforamerica.org/wp-content/uploads/2011/10/Alex.jpg'
        %p
          Alex Pandel
      .span4
        =image_tag 'http://codeforamerica.org/wp-content/uploads/2011/10/Eddie.jpg'
        %p
          Eddie A Tejeda


      

    .assessor.row
      %h3
        OUR PARTNERS
      %p

    .get-in-touch.row
      %h3
        GET IN TOUCH          
      %p
        Questions, technical problems:
        support@blightstat.us

        Get blightSTATUS in your city: partnerships@blightstat.us

        General:
        info@blightstat.us          