.container
  .row.helpcenter-logo
    =image_tag "/assets/HelpCenter-Logo.png"

  %ul.nav.nav-tabs
    %li.active
      =link_to "Common Questions", "#common-questions", {"data-toggle" => "tab"}
    %li
      =link_to "About the Blight Process", "#about-the-blight-process", {"data-toggle" => "tab"}
    %li
      =link_to "Glossary", "#glossary", {"data-toggle" => "tab"}

  .tab-content
    #common-questions.tab-pane.active
      =render :partial => "pages/help/common-questions"
    #about-the-blight-process.tab-pane
      =render :partial => "pages/help/about-the-blight-process"    
    #glossary.tab-pane
      =render :partial => "pages/help/glossary"
    
