%ul.arrow-list
  %li
    If I have information about a property, how can I get it to the City?
  %li
    Why are there multiple cases on a single address?
  %li
    How current is the data in blightSTATUS?
  %li
    Can I attend a scheduled hearing for a property in my neighborhood?
  %li
    What happens if the City can’t find a property owner to notify them of any violations?




