.timeline
  .category
    INSPECTIONS
  .category
    NOTIFICATIONS
  .category
    HEARINGS
  .category
    JUDGMENTS
  .category 
    ABATEMENT

.faq
  %h3.category-label
    INSPECTIONS
  =render :partial => "pages/help/questions/inspections"

  %h3.category-label
    NOTIFICATIONS
  =render :partial => "pages/help/questions/notifications"

  %h3.category-label
    HEARINGS
  =render :partial => "pages/help/questions/hearings"

  %h3.category-label
    JUDGMENTS
  =render :partial => "pages/help/questions/judgements"

  %h3.category-label
    ABATEMENT
  =render :partial => "pages/help/questions/abatement"


