.timeline
  .category
    =link_to "INSPECTIONS", "#INSPECTIONS"
  .category
    =link_to "NOTIFICATIONS", "#NOTIFICATIONS"
  .category
    =link_to "HEARINGS","#HEARINGS"
  .category
    =link_to "JUDGMENTS","#JUDGMENTS"
  .category 
    =link_to "ABATEMENT","#ABATEMENT"

.faq
  %h3.category-label{:name => "INSPECTIONS"}
    INSPECTIONS
  =render :partial => "pages/help/questions/inspections"

  %h3.category-label{:name => "NOTIFICATIONS"}
    NOTIFICATIONS
  =render :partial => "pages/help/questions/notifications"

  %h3.category-label{:name => "HEARINGS"}
    HEARINGS
  =render :partial => "pages/help/questions/hearings"

  %h3.category-label{:name => "JUDGMENTS"}
    JUDGMENTS
  =render :partial => "pages/help/questions/judgements"

  %h3.category-label{:name => "ABATEMENT"}
    ABATEMENT
  =render :partial => "pages/help/questions/resolution"


