.common-questions.question-list
  .questions
    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#common-questions-1"}
      If I have information about a property, how can I get it to the City?
    #common-questions-1.answer.collapse
      %p
        It depends on where the property is in the process. If there are no open cases against the property in question, please report it to the City by dialing 3-1-1.
      %p
        If the property does have an open case against it, the best opportunity to provide information is by attending the public hearing. 
        / (link to “attend a hearing” answer)      


    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#common-questions-2"}
      Can I attend a scheduled hearing for a property in my neighborhood?
    #common-questions-2.answer.collapse
      %p
        Yes! Hearings are open to the public, and community members with any relevant information about a property or property owner are encouraged to attend the hearing for that property and offer testimony.
      %p
        Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 
        =link_to "1340 Poydras", "http://maps.google.com/maps?q=1340+poydras+new+orleans+la&oe=utf-8&client=firefox-a&channel=fflb&hnear=1340+Poydras+St,+New+Orleans,+Louisiana+70112&gl=us&t=m&z=16", {:target=>"_new"}
        A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found 
        =link_to "here.", "https://data.nola.gov/Administrative-Data/Upcoming-Hearings-Calendar/jgfe-etbj" 


    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#common-questions-3"}
      How current is the data in BlightStatus?
    #common-questions-3.answer.collapse
      %p 
        We get our data for blightSTATUS from the Department of Code Enforcement’s internal data management system, and the Department is currently transitioning from an older system to a newer one. While this transition is in progress, it is possible that some of our information will be duplicated or out-of-date.

      %p
        Once the new system is fully in place (which should happen within the next few months), the data in blightSTATUS will be completely in sync with the City’s internal system, which means our data will always reflect the most up-to-date information that exists. 

      %p
        That being said, keeping track of over 10,000 individual properties and cases is no easy task. Occasionally things can get backed up, but the City works incredibly hard to respond to reports and move cases along as quickly as humanly possible.


    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#common-questions-4"}
      Why are there multiple cases listed for a single address?
    #common-questions-4.answer.collapse
      %p 
        We get our data for BlightStatus from the Department of Code Enforcement’s internal data management system, and the Department is currently transitioning from an older system to a newer one. In the older system, under certain circumstances (such as a case being reset), 
        / (link to glossary term “reset”)
        it was possible to open a new case without a previous case having been closed. Therefore, for addresses that were inspected before the new system was in place, it is possible for multiple open cases to exist for a single address. The City is working hard to retroactively indicate which is the case of record, but will continue to provide information about all cases for the sake of context and transparency.

      %p 
        In the new system, this should not be a problem, and for cases opened after the new system is in place, there should only be one case of record. Historical information on previous cases will still be available, but going forward, expect to see only one open case per individual address.


    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#common-questions-5"}
      How can a case be closed before the property in question has even had a hearing?
    #common-questions-5.answer.collapse
      %p
        Before the hearing date, a property owner can contact the Code Enforcement Department with information that proves that the violations have been corrected or that the property was demolished. An inspector will revisit the property, and if it now meets City laws, the case is closed. The property owner must contact the department at least seven days before the scheduled hearing date. 

  