.timeline
  .category
    INSPECTIONS
  .category
    NOTIFICATIONS
  .category
    HEARINGS
  .category
    JUDGMENTS
  .category 
    ABATEMENT

%h3.category-label
  INSPECTIONS
.questions
  .question{"data-toggle"=>"collapse", "data-target"=>"#demo1"}
    If I have information about a property, how can I get it to the City?

  #demo1.answer.collapse
    It depends on where the property is in the process. If there are no open cases against the property in question, please report it to the City by dialing 3-1-1.

    If the property does have an open case against it, the best opportunity to provide information is by attending the public hearing. (link to “attend a hearing” answer)

  .question{"data-toggle"=>"collapse", "data-target"=>"#demo2"}
    Can I attend a scheduled hearing for a property in my neighborhood?
  #demo2.answer.collapse
    Yes! Hearings are open to the public and community members with any relevant information about a property or property owner are encouraged to attend the hearing for that property and request to testify (how?).

    Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 


%h3.category-label
  NOTIFICATIONS
.questions

  .question{"data-toggle"=>"collapse", "data-target"=>"#demo3"}
    How current is the data in blightSTATUS?
  #demo3.answer.collapse
    %p
      Yes! Hearings are open to the public and community members with any relevant information about a property or property owner are encouraged to attend the hearing for that property and request to testify .
    %p
      Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
      A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 


  .question{"data-toggle"=>"collapse", "data-target"=>"#demo4"}
    Can I attend a scheduled hearing for a property in my neighborhood?
  #demo4.answer.collapse
    %p
      Yes! Hearings are open to the public and community members with any relevant information about a property or property owner are encouraged to attend the hearing for that property and request to testify .
    %p
      Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
      A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 

  .question{"data-toggle"=>"collapse", "data-target"=>"#demo5"}
    What happens if the City can’t find a property owner to notify them of any violations?
  #demo5.answer.collapse
    %p
      Yes! Hearings are open to the public and community members with any relevant information about a property or property owner are encouraged to attend the hearing for that property and request to testify .
    %p
      Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
      A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 



%h3.category-label
  HEARINGS
.questions

  .question{"data-toggle"=>"collapse", "data-target"=>"#demo5"}
    How current is the data in blightSTATUS?
  #demo5.answer.collapse
    %p


%h3.category-label
  JUDGMENTS
.questions

  .question{"data-toggle"=>"collapse", "data-target"=>"#demo6"}
    How current is the data in blightSTATUS?
  #demo6.answer.collapse
    %p

%h3.category-label
  ABATEMENT
.questions

  .question{"data-toggle"=>"collapse", "data-target"=>"#demo7"}
    How current is the data in blightSTATUS?
  #demo7.answer.collapse
    %p


  
