.common-questions
  .questions
    .question{"data-toggle"=>"collapse", "data-target"=>"#demo8"}
      If I have information about a property, how can I get it to the City?
    #demo8.answer.collapse
      %p
        Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
        A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 

  .questions
    .question{"data-toggle"=>"collapse", "data-target"=>"#demo8"}
      Why are there multiple cases on a single address?
    #demo8.answer.collapse
      %p
        Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
        A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 

  .questions
    .question{"data-toggle"=>"collapse", "data-target"=>"#demo8"}
      How current is the data in blightSTATUS?
    #demo8.answer.collapse
      %p
        Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
        A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 

  .questions
    .question{"data-toggle"=>"collapse", "data-target"=>"#demo8"}
      Can I attend a scheduled hearing for a property in my neighborhood?
    #demo8.answer.collapse
      %p
        Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
        A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 

  .questions
    .question{"data-toggle"=>"collapse", "data-target"=>"#demo8"}
      What happens if the City can’t find a property owner to notify them of any violations?
    #demo8.answer.collapse
      %p
        Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
        A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 

    
