.common-questions
  .questions
    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#common-questions-1"}
      How current is the data in blightSTATUS?
    #common-questions-1.answer.collapse
      %p
        Yes! Hearings are open to the public and community members with any relevant information about a property or property owner are encouraged to attend the hearing for that property and request to testify .
      %p
        Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). 
        A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 


    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#common-questions-2"}
      If I have information about a property, how can I get it to the City?
    #common-questions-2.answer.collapse
      %p
        It depends on where the property is in the process. If there are no open cases against the property in question, please report it to the City by dialing 3-1-1.
      %p
        If the property does have an open case against it, the best opportunity to provide information is by attending the public hearing. (link to “attend a hearing” answer)      

    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#common-questions-3"}
      Can I attend a scheduled hearing for a property in my neighborhood?
    #common-questions-3.answer.collapse
      %p
        Yes! Hearings are open to the public, and community members with any relevant information about a property or property owner are encouraged to attend the hearing for that property and offer testimony.
      %p
        Hearings take place at the Code Enforcement and Hearings Bureau, on the 21st floor of 1340 Poydras (link to map). A property’s upcoming hearing date and time will be visible on its page in blightSTATUS; a calendar of upcoming hearings can also be found here (link to Upcoming Hearings Calendar on data.nola.gov). 

    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#common-questions-4"}
      How can a case be closed before the property in question has even had a hearing?
    #common-questions-4.answer.collapse
      %p
        Before the hearing date, a property owner can contact the Code Enforcement Department with information that proves that the violations have been corrected or that the property was demolished. An inspector will revisit the property, and if it now meets City laws, the case is closed. The property owner must contact the department at least seven days before the scheduled hearing date. 

  