%ul.arrow-list
  %li
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis rhoncus tellus. In tincidunt massa quis augue aliquet ornare. Quisque laoreet feugiat iaculis. Aliquam erat volutpat. Cras pharetra justo diam. Suspendisse potenti. Nulla sem nisl, interdum at lobortis sit amet, egestas id massa. Suspendisse non sapien quis tellus placerat fermentum eu vel turpis. Vivamus interdum tristique mi, ut lobortis diam laoreet et. glossary
