.glossary.question-list
  .questions 
   
      
    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#glossary-1"}
      Blight
    #glossary-1.answer.collapse
      In casual language, “blight” is a term used to describe properties in poor condition. In New Orleans, however, “blight” is a legal term that describes a particular level of disrepair. For a property to be legally decared “blighted” in New Orleans, at least one of the following conditions must be met:
      %p
        %ul
          %li There are unresolved code violations for unsafe, unsanitary or unhealthy conditions.
          %li It has been declared a fire hazard.
          %li It is lacking in facilities or equipment required by the Housing Code of the City of New Orleans.
          %li It has been deemed “demolition by neglect” pursuant to section 84-108 or 84-208 of the City Code.
          %li It has a substantial negative impact on the health, safety, or economic vitality of a neighborhood.
          %li It is a vacant lot that is abandoned, does not meet the requirements of the City Code or has been adjudicated.
          %li There is a vermin infestation.

    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#glossary-2"}
      Eminent Domain Authority
    #glossary-2.answer.collapse
      Eminent Domain Authority gives the City the ability to use expropriation to seize private property to protect the good of the public (for example, from dilapidated or chronic nuisance properties). In New Orleans, there will be fair market value compensation given to the owner for the property. 


    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#glossary-3"}
      Expropriation
    #glossary-3.answer.collapse
      Often used interchangeably with the term eminent domain. Expropriation is a compulsory seizure or surrender of private property by the government to protect the good of the public (for example, from dilapidated or chronic nuisance properties). In New Orleans, there will be fair market value compensation given to the owner for the property. Expropriation requires a strict and fair legal process and is only used as a last resort when other measures have been exhausted.

    
    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#glossary-4"}
      Hearing
    #glossary-4.answer.collapse
      %p
        If a property owner does not correct the violations observed by City inspectors, an administrative hearing is conducted by an impartial judge. The judge determines whether the property is in compliance, or guillty of public nuisance or blight.

      %p
        At the hearing, both the City and the property owner testify under oath. The City presents the evidence against the owner and neighbors are allowed to offer testimony. The property owner has the right to be represented by an attorney, present evidence, introduce witnesses, and question city inspectors under oath.

      %p
        If a property owner has made repairs, they should bring photographs and copies of contracts to the hearing. If they cannot attend the hearing, a representative that has been given power of attorney can attend in their place.
  
    
    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#glossary-5"}
      INAP
    #glossary-5.answer.collapse
      %p
        The Interim Nuisance Abatement Program (INAP) is an interim assistance program intended to alleviate the condition of blighted properties through property clearance (i.e. clearing overgrown grass, weeds, and debris) and the drainage and filling of abandoned swimming pools.

      %p 
        You can view a list of properties already cleared and pools already filled at the 
        =link_to "Code Enforcement Document Library.", "http://www.nola.gov/RESIDENTS/Code-Enforcement/Code-Enforcement-Document-Library/"
    
    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#glossary-6"}
      Notification
    #glossary-6.answer.collapse
      If a City inspector determines that the property they are inspecting violates any of the 
      =link_to "City’s housing standards", "http://www.nola.gov/RESIDENTS/Code-Enforcement/City-of-New-Orleans-Housing-Standards/"
      , the owner receives a Notice of Violation, which lists the specific violations observed, and gives a hearing date. The notice is posted on the property and is mailed to the owner as part of a Notice of Violation packet.

  
    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#glossary-7"}
      Public Nuisance
    #glossary-7.answer.collapse
      In New Orleans, “public nuisance” is a legal term that describes a particular level of disrepair. For a property to be legally decared a “public nuisance” in New Orleans, at least one of the following conditions must be met:
      %p
        %ul
          %li There is a significant amount of trash or garbage on the lot.
          %li There are plants or weeds above 18 inches.
          %li There are abandoned automobiles, building material, discarded appliances, machinery or furnishing.
          %li It could be a hazard to children because of the condition of its foundation, the condition of the slab, abandoned machinery, unsecured building materials, uncovered holes or uncovered excavation.
          %li There are conditions that could allow vermin infestation.
          %li There are objects that can hold standing water.

    
    .question.collapsed{"data-toggle"=>"collapse", "data-target"=>"#glossary-8"}
      Reset
    #glossary-8.answer.collapse
      During a hearing, an owner has the opportunity to enter into an agreement to make the necessary repairs to their property. If they do this, the Code Enforcement Department gives them a “reset” hearing date. During a reset hearing, the owner must show that they have completed the work outlined in the agreement. If they have not, daily fines can begin.
  
