-if !address.demolitions.empty? || !address.maintenances.empty? || !address.foreclosures.nil?
  %br
  %br
  %hr.soften
  .additional-address-information
    %h2
      Additional Information
    %ul
      -address.demolitions.each do |d|
        %li
          This property was demolished by
          %b=d.program_name
          on
          =d.date_completed.strftime("%-m/%-d/%y")
      -address.maintenances.each do |d|
        %li
          This property was demolished on:
          =d.date_completed.strftime("%-m/%-d/%y")

      -address.foreclosures.each do |d|
        %li
          This property foreclosed on by the city on:
          =d.date_completed.strftime("%-m/%-d/%y")