/ -if !address.demolitions.empty? || !address.foreclosures.empty?
.additional-address-information
  %hr.soften
  %h2
    Additional Information
  %ul
    -address.demolitions.group_by(&:address_id).each do |a,d|
      %li
        This property was 
        -if d.first.program_name == "NORA"
          sold to the state and demolished through the <b>Road Home</b> program
        -elsif d.first.program_name == "IDC"
          %b=d.first.program_name
        -elsif d.first.program_name == "SDER"
          %b=d.first.program_name
        -elsif d.first.program_name == "NOSD"
          %b=d.first.program_name
        -else
          demolished

        on
        %b=d.first.date_completed.strftime("%-m/%-d/%y")

    -address.foreclosures.each do |d|
      %li
        This property foreclosed on by the city
        -unless d.sale_date.nil?
          =on =d.sale_date.strftime("%-m/%-d/%y")
        -unless d.notes.nil?
          the latest status was a 
          =d.notes


    / -address.maintenances.each do |d|
    /   %li
    /     This property was demolished on:
    /     =d.date_completed.strftime("%-m/%-d/%y")