.case-history
  -unless kase.nil?
    .case-number
      -unless kase.case_number.nil?
        %h4 Case Details for #{kase.case_number}
        .clearfix
    %table.table.table-condensed.timeline
      %tbody
        -unless kase.inspections.empty?
          %tr
            %td 
              %span.arrow            
            /   .progress-indic-wrapper
            /     .date.inspection
            /     .date.empty
            /     .date.empty
            /     .date.empty
            /     .date.empty

            %td.status 
              Inspected
            %td
              %table.table-nolines
                -kase.inspections.each do |i|
                  %tr
                    %td.date=i.inspection_date.strftime("%-m/%-d/%y")
                    %td Property was inspected, with a finding of #{i.result}
        -unless kase.notifications.empty?
          %tr
            / %td
            /   .progress-indic-wrapper
            /     .date.empty
            /     .date.notification
            /     .date.empty
            /     .date.empty
            /     .date.empty
            %td.arrow            
            %td.status Owner Notified
            %td
              %table.table.table-nolines
                -kase.notifications.each do |n|
                  %tr
                    %td.date=n.date.strftime("%-m/%-d/%y")
                    %td The owner was notified that an administrative case was being brought against this property for violations of the New Orleans Building Code.
        -unless kase.hearings.empty?
          %tr
            / %td
            /   .progress-indic-wrapper
            /     .date.empty
            /     .date.empty
            /     .date.hearing
            /     .date.empty
            /     .date.empty
            %td.arrow            
            %td.status Hearing Scheduled
            %td
              %table.table-nolines
                -kase.hearings.each do |h|
                  %tr
                    %td.date=h.hearing_date.strftime("%-m/%-d/%y")
                    %td
                      The case against this property #{h.date > Time.now ? 'will be' : 'was'} heard in a public hearing at 
                      %b 10:00am 
                      at New Orleans Courthouse, 1234 Perdido St. with an outcome of #{h.hearing_status}

        -unless kase.resets.empty?
          %tr
            / %td
            /   .progress-indic-wrapper
            /     .date.empty
            /     .date.empty
            /     .date.empty
            /     .date.empty
            /     .date.reset
            %td.arrow            
            %td.status Reset
            %td
              %table.table-nolines
                -kase.resets.each do |r|
                  %tr
                    %td.date=r.reset_date.strftime("%-m/%-d/%y")

