.status-update
  -if address.workflow_steps.empty?
    .no-status
      .no-record-notice 
        There is currently no case history for this property.
      .recommended-next-action 
        %ul.arrow-list 
          %li
            If you think this property is in violation of <a href="http://www.nola.gov/RESIDENTS/Code-Enforcement/City-of-New-Orleans-Housing-Standards/">New Orleans Housing Standards</a>, please call 311 to report it.
          %li
            If you know that this property is already in the system and you believe you've run into a technical glitch, please report it to <a href="mailto:blightstatus@codeforamerica.org">blightstatus@codeforamerica.org</a>.
        
        	  
  -else
    .recent
      / .recent-update-notice
      /   Latest update: 
      /   %span.recent-update  #{address.most_recent_status.class} on #{address.most_recent_status.date.strftime('%B %e, %Y')}.
      -case address.most_recent_status.class
        - when 'Inspection'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Hearing'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Judgement'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Reset'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Resolution'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
