
-unless @addresses.empty?
  %section.search-results.container.container-fluid
    .row-fluid
      .span3.left-bar      
        .well{:style => "padding: 8px 0;"}
          .nav-header 
            %h2
              Search Results
            %p
              (only showing properties with a case history)
          %ul.nav.list
            / #loading=image_tag('ajax-loader.gif')
            -#-@addresses.each do |a|
              %li.active.address.result
                %a{:href => "#"}
                  %img{ :width => "10px", :src => "/assets/marker.png"  }
                  %i.home
                  =link_to a.address_long, address_path(a.id)

                %a{:href => address_path(a)}
                  .maps-marker
                  =a.address_long
          .clearfix
      .span9.right-bar
        .toggle

          .btn-group
            %input#map-search-mode{:name => "map-search-mode" , :type => "checkbox", :value => "true", :class => "filter-checkbox"}/
            %label.btn{:for => "map-search-mode"} Reload map when map is moved 

          / =check_box_tag('map-search-mode', 'true', true)
          / Redo search when map is moved

        #map{:style => "height: 400px;"}
        / .toggle
        /   =check_box_tag('map-search-mode')
        /   Redo search when map is moved
      .row
      .btn-toolbar
        .btn-group
          / =paginate @addresses

-else
  %section.no-search-results
    .row-fluid
      .span2
      .span7.main
        .address-title
          %h1 No Results
        .status-update
          .no-status
            .no-record-notice
              The address "#{@search_term}" was not found
            .recommended-next-action

              %p{:style => "margin-top: 20px"} This could mean a few different things:

              %ul
                %li 
                  Check to see if you typed the address correctly. 
                %li 
                  If you believe you've run into a technical glitch, please report it to 
                  =mail_to "blightstatus@codeforamerica.org", "blightstatus@codeforamerica.org"
