
-unless @results_empty
  %section.search-results{:style => "height: 600px"}
    .row-fluid
      .left-bar{:style => "height: 550px; position: absolute; width: 270px; left: 0; z-index: 1000"}
        .well{:style => "padding: 20px;"}
          .nav-header 
            %h2
              Search Results
            %p
              (only showing properties with a case history)
          %ul.nav.list
          .clearfix
      .right-bar{:style => "left: 270px;width: 75%; position: absolute"}
        .toggle
          .btn-group
            %input#map-search-mode{:name => "map-search-mode" , :type => "checkbox", :value => "true", :class => "filter-checkbox"}/
            %label.btn{:for => "map-search-mode"} Reload map when map is moved 
        #map{:style => "height: 550px;"}
      .row
      .btn-toolbar
        .btn-group

-else
  %section.no-search-results
    .row-fluid
      .span2
      .span7.main
        .address-title
          %h1 No Results
        .status-update
          .no-status
            .no-record-notice
              The address "#{@search_term}" was not found
            .recommended-next-action

              %p{:style => "margin-top: 20px"} This could mean a few different things:

              %ul
                %li 
                  Check to see if you typed the address correctly. 
                %li 
                  If you believe you've run into a technical glitch, please report it to 
                  =mail_to "blightstatus@codeforamerica.org", "blightstatus@codeforamerica.org"
