
-unless @results_empty
  %section.search-results{:style => "height: 600px"}
    .row-fluid
      .left-bar{:style => "top: 75px; height: 550px; position: absolute; width: 270px; left: 0; z-index: 1000"}
        .well{:style => "padding: 20px;"}
          .nav-header 
            %h2
              Search Cases
            %p
              (only showing properties with a case history)
          %ul.nav.list
          .clearfix
      .right-bar{:style => "left: 270px;width: 75%; position: absolute"}
        .toggle
          .btn-group
            %input#map-search-mode{:name => "map-search-mode" , :type => "checkbox", :value => "true", :class => "filter-checkbox"}/
            %label{:for => "map-search-mode"} Reload map when map is moved 
        #map{:style => "height: 550px;"}
      .row
      .btn-toolbar
        .btn-group

-else
  %section.no-search-results
    .row-fluid
      .span2
      .span7.main
        .address-title
          %h1 Address Not Found
        .status-update
          .no-status
            .no-record-notice
              The address "#{@search_term}" was not found
            .recommended-next-action

              %p{:style => "margin-top: 20px"} 
                Check to see if you typed the address correctly. 
              %ul
                %li
                  If you are unsure of the official spelling, SLOWLY type the first few letters into the search box.
                %li
                  A drop-down list will appear with auto-complete suggestions. 

