%section.row-fluid.address-header
  .span4.address-title
    %h1.pull-left=@address.address_long
  .span8
    %ul.pager.pull-right
      %li
        %a.btn &larr; Back to search results
      %li
        %a.btn Next &rarr;
%section.row-fluid
  .span8
    =render :partial => "addresses/status-update", :locals => {:address => @address}
    -unless @address.workflow_steps.empty?
      .property_history
        =render :partial => "addresses/progress-bar", :locals => {:kases => @address.sorted_cases}
        .cases
          -@address.sorted_cases.each do |c|
            .case
              =render :partial => "addresses/property-history", :locals => {:kase => c}
            .clearfix
          .case
            -unless @address.resolutions.empty?
              .case-number
                %h4 Resolution
                .clearfix
              %table
                %tbody
                  -@address.resolutions.each do |r|
                    %tr
                      %td
                      -if r.class == Demolition
                        %td.status Demolition
                        %td.date=r.date.strftime("%-m-%-d-%y")
                        %td This property was demolished by #{r.program_name}
                      - elsif r.class == Foreclosure
                        %td.status Foreclosure
                        %td.date=r.date.strftime("%-m-%-d-%y")
                        %td This property was sent to code lien foreclosure
                      - elsif r.class == Maintenance
                        %td.date Interim Nuisanace Abatement Program
                        %td.date=r.date.strftime("%-m-%-d-%y")
                        %td This property was maintained by #{r.program_name} on 
                        %b=r.date.strftime("%m/%d/%Y")
                      - else
                        %td
                        %td=r.class.to_s + ": " + r.date.strftime("%m/%d/%Y")

  .span4
    .map
      #address{"internal_address_id" => @address.id, "address_id" => @address.address_id, "data-x" => @address.point.x, "data-y" => @address.point.y }
        #map{:style => "height: 200px;"}
    -if @address.assessor_url
      .assessor_link
        =link_to "Assessor's office", @address.assessor_url

    
    -if(account_signed_in?)
      -if(@account_subscribed)
        .btn.btn-primary.btn-large.subscribe-button{:data => @address.address_id} 
          Unsubscribe
      -else
        .btn.btn-warning.btn-large.subscribe-button{:data => @address.address_id} 
          Subscribe
    -else
      .btn.btn-warning.btn-large.subscribe-button{:data => @address.address_id} 
        =link_to('Subscribe', new_account_session_path) 

    .div.sidedivide
      %img{:src => '/assets/star.png'}