.container.property-page
  %section.row-fluid


    / Left bar
    .span8.main
      .address-title
        %h1=@address.address_long

      / -unless @address.workflow_steps.empty?
      .property-history
        .cases
          -@address.cases.each do |c|
            .case
              %h2
                Case:
                =c.case_number
                %div.pull-right{:style => "margin: 10px 0 10px 10px"}
                  -if c.state == 'Open'
                    .label.label-success
                      Case: 
                      =c.state
                  -else
                    .label.label-important
                      Case: 
                      =c.state

              =render :partial => "addresses/progress-bar", :locals => {:kase => c}

              -if c.case_data_error?
                .block{:style => "text-align: center; padding: 0 0 10px; margin:0 auto;"}
                  %b{:style => "color: red"}
                    Warning:
                  This case is missing data.



              .case-details
                =render :partial => "addresses/property-history", :locals => {:kase => c}
              .clearfix
              %br
              %br                
          %a#show-history{:style => "text-align: center"}
            Show Historical Cases





    / Right bar
    .span4.sidebar



      .map.centered
        .map-address{"internal_address_id" => @address.id, "address_id" => @address.address_id, "map-id" => "map-#{@address.id}" , "data-x" => @address.point.x, "data-y" => @address.point.y }
          .leaflet-map{:style => "border: 1px solid #aaa; height: 150px;", :id => "map-#{@address.id}"}

      .subscribe
        %br
        -if(account_signed_in?)
          -if(@account_subscribed)
            =link_to('Watching', "/subscriptions/#{@address.id}", :remote => true, :method => :delete, 'data-type' => 'json', :class => 'btn btn-primary btn-tight subscribe-button tooltip-hover' , :id => "subscribe-button", "data-animation" => "true", :trigger => "hover", :delay => 100, "data-placement"=>"bottom", :rel=>"tooltip", "data-title"=>"Stop Receiving notifications when the status of this property changes")
          -else
            =link_to('Add to Watchlist', "/subscriptions/#{@address.id}", :remote => true, :method => :put,  'data-type' => 'json', :class => 'btn btn-primary btn-tight subscribe-button tooltip-hover'  , :id => "subscribe-button", "data-animation" => "true", :trigger => "hover", :delay => 100, "data-placement"=>"bottom", :rel=>"tooltip", "data-title"=>"Receive notifications when the status of this property changes")
        -else
          =link_to('Add to Watchlist', new_account_session_path, :class => 'btn btn-primary btn-tight subscribe-button tooltip-hover' , :id => "subscribe-button", "data-animation" => "true", :trigger => "hover", :delay => 100, "data-placement"=>"bottom", :rel=>"tooltip", "data-title"=>"Receive notifications when the status of this property changes")

      .assessor.centered
        -if @address.assessor_url
          .parcel-link
            =link_to "parcel, tax, and ownership details", @address.assessor_url
          %p
            via the Orleans Parish Assessor’s website

      .faq.centered.question-list
        %h3
          Common Questions
        -case @address.most_recent_status.class.to_s
          - when 'Inspection'
            =render "pages/help/questions/inspections"
          - when 'Hearing'
            =render "pages/help/questions/hearings"
          - when 'Judgement'
            =render "pages/help/questions/judgements"
          - when 'Resolution'
            =render "pages/help/questions/abatement"
          - when 'Reset'
            =render "pages/help/questions/reset"
          - else 
            =render "pages/help/questions/general"

        .view-all-faq
          =link_to "View All Questions >", "/pages/help"
