@import "variables.css.scss";

.container-accounts{

  padding-bottom: 400px !important;

  .notice{
    background-color: white;
    clear:both;
    text-align: center;
    padding-left: 0;
    margin-left: 0;


    p{
      font-size: 135%;
      margin: 5px 0;
      color: $orange;
    }
    h2{
      padding: 0;
      margin: 0;
    }
  }

  h1{

    color: #58595B;
    font-family: "Lato";
    font-size: 250%;
    padding: 10px 0;
    text-align: left;
  }

  .btn-group > .btn{
    color: white;
    border-radius: 5px;
    text-transform: uppercase;    
  }

  .email-notification{

    position: fixed;
    top: 400px;
    #email-notification-toggle{
      display: none;
    }

  }

  .subscription{
    margin: 0 0 40px;

    h2 {

      font-family: "Lato";
      font-size: 200%;
      font-weight: 300;
      padding-left: 0;
      margin-left: 0;
      text-align: left; 
      color: #58595B; 

      &:hover{
        text-decoration: none;
      }

    }
    h3{
      font-family: "Lato";
      font-size: 150%;
      font-weight: 300;
//      margin: 15px;
//      padding: 3px 8px;
      text-align: left; 
      color: #58595B; 

    }
  }


	.view-property, .subscribe{
		display: inline;
	}

	.property-status{
		padding: 0 10px;
	}

  .map{
    padding: 10px;
  }

  #map{
    position: relative;
    position: fixed;
    border: 1px solid #aaa;

  }



  .leaflet-map{
    border: 1px solid #aaa; 
    padding: 0 10px 0 0; 
    width: 250px; 
    height: 200px;
  }

  .progress-bar{
    padding: 0;
    margin: 30px 20px;


    .progress-bar-wrapper{

      margin-top: 10px;
    }
    .table{
      margin-left: 0;
      padding-left: 0;
    }
  }    

  .subscription{


    background-color: white;
    border: 1px solid #EEEEEE;
    border-radius: $borderRadius;
    margin: 0 0 40px;
    padding: 20px;

    h3{
      padding-left: 0px;
    }


    .map{
      float: left;

      #address{
        width: 300px !important;
        border: 1px solid #aaa;
      }
    }

    .subscribe{

    }
    .image{

        img{
          border: 1px solid #AAAAAA;
          max-width: 100%;
          padding: 1px;
          vertical-align: middle;
        }
    }

    &.no-subscription{
      text-align: left;
      padding: 20px 40px;
    }
  }

}
