@import "variables.css.scss";

.container-accounts{



  .notice{

    h2{
      padding: 20px; 
      border: 1px solid #aaa; 
      margin: 20px 0
    }
  }

	#subscriptions{

    .subscription{
      h3{
        font-size: 220%;
      }
    }


		.view-property, .subscribe{
			display: inline;
		}

		.property-status{
			padding: 0 10px;
		}

    .map{
      padding: 10px 0
    }



    .leaflet-map{
      border: 1px solid #aaa; 
      padding: 0 10px 0 0; 
      width: 250px; 
      height: 200px;
    }

    .progress-bar{
      float: right; 
      padding: 0 25px; 
      width: 560px;
    }    


	}
}

