// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lighterTeal: #cceceb;
$lightTeal: #62CCCC;
$darkTeal: #008E8A;

$lightBeige: #EBE9E1;
$lightBeige: #D1CEC1;
$grey: #6D6E71;
$darkGrey: #58595B;
$orange: #F1601D;


.container-addresses{
  #map{
    /*padding-top: 50px;*/
    box-shadow: 0 0 20px #AAAAAA;
  }

	header{
		height: 40px;
    
		h1 {
  		float: left;
  		font-size: 135%;
  		margin: 0;
  		padding: 0 0 0 15px;
  		text-align: left;
  		width: 290px;
		}
	}

  .no-search-results{
    position: relative;
		
		.suggestions{
			width: 600px;
			margin:0 auto;
		}
  }
  
	.search-results{
		
    width: 100% !important;
    clear: both;
    
		.left-bar{
			float:left;
			padding: 0 20px;
      border: none;
			height: 700px;
			min-height: 500px;
			width: 20%;

      .result {
        a{
          text-transform:capitalize;
        }
      }

      li.result a{
        color: #58595B;
      }

      li.result:hover{
        background-color: #62CCCC;

      }

      ul.list.loading {
        opacity: 0.4;
      }

      #loading {
        display: none;
        top: 200px;
        left: 145px;
        position: absolute;
      }
		}
	}

  .main{
      background-color: white;
      border-radius: 30px 30px 30px 30px;
      padding: 0px 40px 30px;
  }


  .case-history{

    .arrow{
      background: url("/assets/arrow-right.png") no-repeat scroll 10px 6px transparent;
      padding: 10px;
    }

    .timeline{
      font-size: 120%;
      color: #58595B;
      font-family: "Lato";   
      margin-top: 10px;   
    }
  }

  footer{
  	bottom: 0;
  	padding-bottom: 15px;
  	clear: both;
		position: relative;
    margin-top: 60px;
    
  	.footer{
  		bottom: 0;
  	}
  }

  .pager {
    margin-bottom: 15px;
  }

  .subscribe-button{
    &:hover{
      cursor: pointer;
    }
  }

  .map{
    border: 1px solid #ccc;
  }

  table {
    tr {
      padding: 5px 0;
    }

    td {
    }

    .status {
      min-width: 120px;
    }

    .date {
      min-width: 80px;
    }
  }
}


.maps-marker{
    margin: 0;
    position: absolute;
    height: 40px;
    width: 30px;
    color: white;
    font-weight: bold;
    padding: 0px 3px;
}



.ui-autocomplete{
  z-index: 100 !important;
}

.leaflet-container .leaflet-control-attribution{
	display: none;
}


.leaflet-popup-content h4{
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
}


.marker, .address.result{
    background: url("/assets/marker.png") no-repeat scroll 0 0 transparent;
}

.marked{
    background: url("/assets/marker-selected.png") no-repeat scroll 0 0 transparent;
}

.leaflet-marker-icon{
  color: white;
  font-weight: bold;

  padding: 3px 6px;
  width: 22px;  
}

.address.result.two_digits{
  margin: 0;
  padding: 3px 0;
}

.leaflet-clickable.two_digits{
  /*padding: 4px 3px 16px;*/
}


.leaflet-marker-pane img.marked {
  border: 1px solid red;
}

.address.result.marked {
  background-color: #62CCCC;
}

.address-title {
  h1 {
    padding: 5px 10px;
    color: $darkGrey;
    font-family: "Lato";
    font-weight: 300;
    font-size: 45px;
  }

  border-bottom: 1px solid $darkGrey;
  clear: both;

}

.case-number {
  h4 {
    color: $darkGrey;
    float: left;
    padding: 3px 8px;
    font-size: 24px;
    font-weight: 300;
  }
}


.faq{


  h3{
    font-size: 24px;
    font-weight: 300;
    padding: 3px 8px;
    font-family: "Lato"  ;
    border-bottom: 1px solid #CCC;  
  }

  ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;

    li{

      margin: 0px 0;
      padding-left: 30px;
      background: url("/assets/arrow-down.png") no-repeat scroll 10px 20px transparent;
      border-radius: 5px;
      padding: 15px 15px 15px 30px;

      .faq-title{
        color: $grey;
        font-family: "Lato";
        font-size: 16px;
        font-weight: bold;
      }
      .faq-entry{
        font-weight: normal;
      }

      &.selected{
        background-color: $lighterTeal;
      }

    }

  }

}


.progress-bar-wrapper {
  margin-top: 10px;
  min-height: 200px;

  .table{
    td{
      padding: 0px 0;
    }
    thead{
      .property-status{
        padding: 10px;
        font-size: 90%
      }
    }
  }
  .date {
  }

  .progress-arrow{
    height: 25px;
    position: relative;
    width: 105px;

    &.inspection {
      background: url('/assets/progress-arrows.png') no-repeat 0 0;
      z-index: 10;
    }

    &.notification {
      background: url('/assets/progress-arrows.png') no-repeat 0 -25px;
      margin-left: -15px;
      z-index: 9;
    }

    &.hearing{
      background: url('/assets/progress-arrows.png') no-repeat 0 -50px;
      margin-left: -15px;
      z-index: 8;
    }

    &.judgement {
      background: url('/assets/progress-arrows.png') no-repeat 0 -75px;
      margin-left: -15px;
      z-index: 7;
    }

    &.resolution {
      background: url('/assets/progress-arrows.png') no-repeat 0 -100px;
      margin-left: -15px;
      z-index: 6;

    }
  }

}

.progress-bar-wrapper table{
  width:100%;
}


.property-status{
  text-transform: uppercase;
}

.property-status:hover{
  cursor:pointer;
}


.progress-indic-wrapper {
  margin-top: 4px;

  .date {
    &:before {
      width: 8px;
      height: 8px;
      margin: 2px 2px 0 0;
      display: block;
      float: left;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      color: #fff;
      background-color: #16A765;
      content: " ";
    }

    &.empty:before {
      background-color: #fff;
      border: 1px solid #CCCCCC;
      width: 6px;
      height: 6px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }

    &.inspection:before {
      background-color: #FA573C;
    }

    &.notification:before {
      background-color: #FFAD46;
    }

    &.hearing:before{
      background-color: #16A765;
    }

    &.judgement:before {
      background-color: #4986E7;
    }

    &.resolution:before {
      background-color: #A47AE2;
    }
  }
}

.cases {
  margin-top: 40px;
}

.case {
  margin-top: 20px;
}

.table-nolines th, .table-nolines td{
  border-top:none !important;
  padding-top: 0px !important;
}

.sidedivide{
  text-align:center;
  margin: 8px 0 8px 0;
}

.centered{
  text-align:center;
}

.assessor{
  font-size: 16px;
  padding: 10px 0;
}

.subscribe{
  padding: 2px;
}

.pager a{
  cursor:pointer
}

.status-update{
  background-color:#ffffcc;
  display: inline-block;
  padding: 2px;
  margin-top: 10px;
}

