// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

.container-addresses{
  #map{
//    padding-top: 50px;
//    box-shadow: 0 0 20px #AAAAAA;
    border: 1px solid #ccc;
  }

	header{
		height: 40px;
    
		h1 {
  		float: left;
  		font-size: 135%;
  		margin: 0;
  		padding: 0 0 0 15px;
  		text-align: left;
  		width: 290px;
		}
	}


  .no-search-results{
    position: relative;
		
		.suggestions{
			width: 600px;
			margin:0 auto;
		}
  }
  
	.search-results{
		
    
		.left-bar{
      border: none;


      .result {
        a{
          text-transform:capitalize;
        }
      }

      li.result a{
        color: #58595B;
      }

      li.result:hover{
        background: url("/assets/marker-selected.png") no-repeat 10px 4px  $lighterTeal;
        border-radius: 5px;
      }

      ul.list.loading {
        opacity: 0.4;
      }

      #loading {
        display: none;
        top: 200px;
        left: 145px;
        position: absolute;
      }

      .nav-header{
        text-align: left;
        p{
          font-family: "Lato";
          font-weight: 300;
          font-style: italic;
        }

        border-bottom: #ccc 1px solid;
        margin-bottom: 20px;

      }
		}
	}

  .main{
    background-color: white;
    border: 1px solid #efefef;
    border-radius: 30px 30px 30px 30px;
    padding: 40px;
  }

  .sidebar{

    .map{
      margin-top: 10px;
    }

    .accessor{
      
    }

    .faq{
      margin-top: 50px;
    }

  }

  .toggle {
    padding: 10px 0;
  }


  .status-update{
    display: inline-block;
    padding: 2px;
    margin-top: 10px;
    font-size: 115%;

    .no-record-notice{

      padding: 15px;
      background-color: $lighterTeal;
      border-radius: 10px;
      margin: 15px 0;
      font-family: "Lato";
      font-size: 120%;
    }
  }


  .case-history{

    .arrow{
      background: url("/assets/arrow-right.png") no-repeat scroll 10px 20px transparent;
      padding: 15px;
    }

    .timeline{
      font-size: 120%;
      color: #58595B;
      font-family: "Lato";   
      margin-top: 10px; 
      font-weight: 300;  
    }

    .status{
      font-weight: normal;
    }

    .case-number{
      border-bottom: 1px solid $lightGrey;
      padding-bottom: 8px;
    }


    td{
      border-top: none;
    }
  }

  footer{
  	bottom: 0;
  	padding-bottom: 15px;
  	clear: both;
		position: relative;
    margin-top: 60px;
    
  	.footer{
  		bottom: 0;
  	}
  }

  .pager {
    margin-bottom: 15px;
  }

  .subscribe-button{
    &:hover{
      cursor: pointer;
    }
  }


  table {
    tr {
      padding: 15px 0;
    }

    td {
    }

    .status {
      min-width: 120px;
    }

    .date {
      min-width: 80px;
      text-align: center;
    }
  }
}


.assessor{
  .parcel-link{
    font-weight: 400;
    font-size: 120%;
  }

  p{
    font-weight: 200;
    font-style: italic;
    font-size: 90%;
  }

}

.ui-autocomplete{
  z-index: 100 !important;
}

.leaflet-container .leaflet-control-attribution{
	display: none;
}


.leaflet-popup-content-wrapper{
  border-radius: 10px;
}

.leaflet-popup-content {

  overflow: hidden;
  text-align: center;
  h3 {
    font-size: $largerFontSize;
    line-height: 16px;
    padding-bottom: 10px;
    a{
      text-transform: capitalize;
      color: $orange !important;
    }
  }

  img{
    border: 1px solid $headerLineBreakColor;
    text-align: center;
  }
  p{
    font-family: "Lato";
    margin: 5px;
    font-size: $largeFontSize;
  }


}

.dotmarker{
  background: url("/assets/dotmarker.png") no-repeat scroll 0px 0px transparent;  
}

.maps-marker{
    color: white;
    font-weight: bold;
    height: 40px;
    margin: 0px 13px 2px 8px;
    width: 22px;
    position: absolute;
}

.marker, .address.result .maps-marker{
    text-align: center;
    padding-top: 2px;
    background: url("/assets/marker.png") no-repeat scroll 0px 0px transparent;
}

.marker.marked, .marked.address.result .maps-marker{
   background: url("/assets/marker-selected.png") no-repeat scroll 0px 0px transparent;
}

.leaflet-marker-icon{
    color: white;
    font-weight: bold;
    margin: 7px 16px;
}

.leaflet-clickable.two_digits{
  /*padding: 4px 3px 16px;*/
}

.leaflet-marker-icon.marked{
  z-index: 1000 !important;
}

.leaflet-marker-pane img.marked {
  border: 1px solid red;
  z-index: 200;
}

.address.result.marked {
  background-color: $lighterTeal;
  z-index: 200;
}

.address-title {
  h1 {
    padding: 5px 10px;
    color: $darkGrey;
    font-family: "Lato";
    font-weight: 300;
    font-size: 45px;
  }

  border-bottom: 1px solid $darkGrey;
  clear: both;

}

.case-number {
  h4 {
    color: $darkGrey;
    float: left;
    padding: 3px 8px;
    font-size: 24px;
    font-weight: 300;
  }
}



@include faq-mixin;

.view-all-faq{
  font-size: $largeFontSize;
}


.progress-bar-wrapper {
  margin-top: 10px;
  min-height: 100px;

  .table{


    tr{

      &:hover{
        background: transparent !important;
      }

      td{
        padding: 15px 0;

        &:hover{
          background: transparent !important;
        }
      }

    }


    thead{
      .property-status{
        padding: 10px;
        font-size: 80%
      }
    }

    .case-number{
      padding: 5px;
      .table-condensed{
        td{
          padding: 10px;

        }
      }
    }
  }
  .date {
  }

  .progress-arrow{
    height: 25px;
    position: relative;
    width: 102px;
    margin-right: -25px;

    &:hover{
      cursor: pointer;
    }

    &.inspection {
      background: url('/assets/progress-arrows.png') no-repeat 0 0;
    }

    &.notification {
      background: url('/assets/progress-arrows.png') no-repeat 0 -25px transparent;
    }

    &.hearing{
      background: url('/assets/progress-arrows.png') no-repeat -5px -49px transparent;
    }

    &.judgement {
      background: url('/assets/progress-arrows.png') no-repeat 0 -73px transparent;
    }

    &.resolution {
      background: url('/assets/progress-arrows.png') no-repeat 0 -100px transparent;
    }

    &.pending {
      background: url("/assets/progress-arrows.png") no-repeat scroll -228px -2px transparent;
    }


  }

}

.progress-bar-wrapper table{
  width:inherit;
}


.property-status{
  text-transform: uppercase;
}

.property-status:hover{
  cursor:pointer;
}


.progress-indic-wrapper {
  margin-top: 4px;

  .date {
    &:before {
      width: 8px;
      height: 8px;
      margin: 2px 2px 0 0;
      display: block;
      float: left;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      color: #fff;
      background-color: #16A765;
      content: " ";
    }

    &.empty:before {
      background-color: #fff;
      border: 1px solid #CCCCCC;
      width: 6px;
      height: 6px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }

    &.inspection:before {
      background-color: #FA573C;
    }

    &.notification:before {
      background-color: #FFAD46;
    }

    &.hearing:before{
      background-color: #16A765;
    }

    &.judgement:before {
      background-color: #4986E7;
    }

    &.resolution:before {
      background-color: #A47AE2;
    }
  }
}


.cases {
  margin-top: 40px;
}

.case {
  margin-top: 20px;
}

.table-nolines th, .table-nolines td{
  border-top:none !important;
  padding-top: 0px !important;
}

.sidedivide{
  text-align:center;
  margin: 8px 0 8px 0;
}

.centered{
  text-align:center;
}

.assessor{
  font-size: 16px;
  padding: 20px 0;
}

.subscribe{
  padding: 2px;
}

.pager a{
  cursor:pointer
}


