// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.css.scss";

.container-home{


  #wrapper{
    padding-bottom: 50px;
  }



  .frontpage{

    padding-top: 2%;

    h1{
      font-size: 240%;
      color: $orange;
      font-weight: bold;
    }

  	input.btn[type="submit"] {
  		font-size: 150%;
  		height: 40px;
  		margin: 0 10px;
  	}	
    
    form{
      margin: 5px 0px 8px;
    }

    .page-header{
       border: 0px; 
       margin: 30px 0;
       h1 {
        line-height: 1;
        padding: 60px 0 8px;
       }
    }

    .help-block{
      margin-left: 13px;
      clear: both;
    }
    
  	.content{
  		margin: 0 auto;
  		position: relative;
  		width: 100%;
  		form {
  			text-align: center;
  		}	
  	
  	}
  	
    .home-search{
      text-align:right;
      width: 820px;
      margin: 0 auto;

    }

    .home-illustration{
      background: url("/assets/dude_house.png") no-repeat scroll 0 bottom transparent;
      border: 0px solid;
      float: right;
      height: 299px;
      width: 320px;
    }

    .tag-line{
      float: left;
      font-size: 32px;
      line-height: 38px;
      padding: 37px 0 0 40px;
      text-align: left;
      width: 430px;
      font-weight: 300;
      color: $darkGrey;
    }


    .frontpage-screenshot{
      h3{
        font-size: 120%;
        font-weight: 200;
//          margin-left: 20px;
        margin: 0 auto;
        padding: 10px 0;
        text-align: center; 
        line-height: 20px;
      }
      a{
        margin: 0 auto;
        text-align: center;          
      }

      img{
        border: 1px solid #ccc;
      }
    }

    .search-bubble{
      width: 420px;
      border-radius: $borderRadius;
      padding: 20px 25px 20px 40px;
      background-color: #ebe9e1;
      text-align:left;
      position: relative;
      margin: 0 0; 
      float: left;

      .speak-bubble{
        background: url("/assets/speak_bubble.png") no-repeat scroll 0 0 transparent;
        bottom: -23px;
        height: 45px;
        position: absolute;
        right: -15px;
        width: 65px;
      }

      .search-form{
        margin: 0 auto;

        .search-field{
          display:inline;

          #main-search-field{
            width: 275px;
            height: 32px;
            font-size: 140%;
            clear: both;
            background: white;
          }

        }
        .search-button{
          display:inline;
          .btn{
            margin-top: 0px;
            height: 38px;
            margin: 8px;
          }
        }
      }
    }
  }  
}

