// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

.container-pages{ 
  .helpcenter-logo{
    text-align: center;
    margin-bottom: 35px;
  }



  .about-page-content{

    margin-top: 20px;

    h2{
      font-size: $largestFontSize;
      padding: 10px 0;
    }

    h4{
      font-size: $largeFontSize;
    }
    p, h4{
      padding-left: 20px;
    }
  }


  .timeline{
    margin: 20px 0 30px;
    .category{
      display: inline;
      padding: 20px 40px 20px 30px;
      font-size: 120%;
      color: $orange;
      font-family: "Lato";
      font-weight: 400;

      &:hover{
        cursor: pointer;
      }
    }
    clear: both;
  }


  h3.category-label{
    font-family: "Lato";
    font-weight: 200;
    color: $Lightgrey;
  }

  @include faq-mixin;


  .page-tabs{
    padding-bottom: 0;
    margin-bottom: 0;

    &.nav-tabs{
      border: 0px;
    }

    li{
      
      margin: 10px 0px -2px 0;

      a{
        border: 0;
        background-color: $lighterTeal;
        border-radius: 20px 20px 0 0;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        border-color:  #ccc;
        text-transform: uppercase;
        font-size: 140%;
        padding: 15px 63.66px;
        color: $darkGrey;       

      }

      &.active{
        a{
          background-color: white;
          border-radius: 20px 20px 0 0;
          margin-bottom: -1px;          
          color: $darkGrey;       

        }

      }

    }

  }

  #common-questions{
    border-width: 0 1px 1px 1px;
  }

  .tab-content{
    width: 930px;
    background: white;
  }


  .tab-pane-content{
    border: 1px solid #ddd;
    border-radius: 0 0 20px 20px;
//    padding: 10px 40px 50px;
    padding: 40px;

  }


  .our-partners{


    .code-for-america{
      background: url("/assets/partner-logos.png") no-repeat scroll 7px -60px transparent;
      width: 135px;
      height: 70px;
      float: left;

      
    }

    .city-of-new-orleans{
      background: url("/assets/partner-logos.png") no-repeat scroll -145px 0px transparent;
      width: 130px;
      height: 130px;      
      float: left;
    }

    .nora{
      background: url("/assets/partner-logos.png") no-repeat scroll 0px -10px transparent;
      width: 140px;
      height: 50px;
      float: left;
    }


  }
  .meet-the-team, .our-partners, .get-in-touch{

    margin-bottom: 40px;
    h2{
      font-weight: 300;
      font-family: "Lato";
      border-bottom: 1px solid $Lightgrey;
      margin-bottom: 10px;

    }

    .img-block{
      width: 100px;
      float: left;
      padding: 8px 5px;
      text-align: center;
      padding-left: 0;
      img{
        border: 1px solid #eee;
        padding: 1px;
      }
    }
  }


  .about-page-content{

    .left-bar{
      border-left: medium none;
      border-radius: 30px;
      border-top: medium none;
      float: left;
      margin-right: 30px;
      min-height: 500px;
      padding: 20px 45px 45px;
      width: 55%;
      background: white;
    }

  }
}


