// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

.container-pages{ 
  .helpcenter-logo{
    text-align: center;
    margin-bottom: 35px;
  }

  .about-page-content{

    margin-top: 50px;

    h2{
      font-size: $largestFontSize;
      padding: 10px 0;
    }

    h4{
      font-size: $largeFontSize;
      padding-left: 0;
    }
    p, h4{
    }
  }



  .timeline{
    margin: 20px 0 30px;
    .category{
      display: inline;
      padding: 20px 35px 20px 30px;
      font-size: 120%;
      color: $orange;
      font-family: "Lato";
      font-weight: 400;

      &:hover{
        cursor: pointer;
      }
    }
    clear: both;
  }

  h3.category-label{
    font-family: "Lato";
    font-weight: 200;
    color: $grey;
  }

  @include faq-mixin;

  #common-questions{
    border-width: 0 1px 1px 1px;
  }


  .our-partners{
    .code-for-america{
      background: url("/assets/partner-logos.png") no-repeat scroll 7px -60px transparent;
      width: 135px;
      height: 70px;
      float: left;
    }

    .city-of-new-orleans{
      background: url("/assets/partner-logos.png") no-repeat scroll -145px 0px transparent;
      width: 130px;
      height: 130px;      
      float: left;
    }

    .nora{
      background: url("/assets/partner-logos.png") no-repeat scroll 0px -10px transparent;
      width: 140px;
      height: 50px;
      float: left;
    }
  }

  .meet-the-team, .our-partners, .get-in-touch{
    margin-bottom: 40px;
    h2{
      font-weight: 300;
      font-family: "Lato";
      border-bottom: 1px solid $darkerBeige;
      margin-bottom: 15px;
//      margin-top: 30px;
      padding: 10px 0px 5px 0px;
    }

    .img-block{
      width: 100px;
      float: left;
      padding: 8px 5px;
      text-align: center;
      padding-left: 0;
      img{
        border: 1px solid #eee;
        padding: 1px;
      }
    }
  }

  .meet-the-team{
    h2{
      margin-top: 0px;
    }
  }

  .about-page-content{
    .left-bar{
      border-left: medium none;
      border-radius: $borderRadius;
      border-top: medium none;
      min-height: 500px;
      padding: 20px 45px 45px;
      background: white;
      border: 1px solid $borderColor;
    }
  }
}


