// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

.container-pages{ 
  .helpcenter-logo{
    text-align: center;
    margin-bottom: 35px;
  }



  .timeline{
    margin: 20px 0 30px;
    .category{
      display: inline;
      padding: 20px 60px 20px 5px;
      font-size: 120%;
      color: $orange;
      font-family: "Lato";
      font-weight: 400;
    }
    clear: both;
  }


  h3.category-label{
    font-family: "Lato";
    font-weight: 200;
    color: $Lightgrey;
  }

  @include faq-mixin;


  .page-tabs{
    padding-bottom: 0;
    margin-bottom: 0;
    li{
      
      margin: 10px 0px -1px 0;

      a{
        border: 0;
        background-color: $lighterTeal;
        border-radius: 20px 20px 0 0;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        border-color:  #ccc;
        text-transform: uppercase;
        font-size: 140%;
        padding: 15px 64.333px; 
        color: $darkGrey;       

      }

      &.active{
        a{
          background-color: white;
          border-radius: 20px 20px 0 0;
          margin-bottom: -1px;          
          color: $darkGrey;       

        }

      }

    }

  }

  #common-questions{
    padding-top: 10px 40px;
    border-width: 0 1px 1px 1px;
  }

  .tab-content{
    width: 930px;
  }


  .tab-pane-content{
    border: 1px solid #ddd;
    border-radius: 0 0 20px 20px;
    padding: 10px 40px 50px;
  }


  .our-partners{


    .code-for-america{
      background: url("/assets/partner-logos.png") no-repeat scroll 7px -60px transparent;
      width: 155px;
      height: 70px;
      
    }

    .city-of-new-orleans{
      background: url("/assets/partner-logos.png") no-repeat scroll -130px 0px transparent;
      width: 155px;
      height: 130px;      
    }

    .nora{
      background: url("/assets/partner-logos.png") no-repeat scroll 0px -10px transparent;
      width: 140px;
      height: 50px;
    }


  }
  .meet-the-team, .our-partners, .get-in-touch{

    margin-bottom: 40px;
    h2{
      font-weight: 200;
      font-family: "Lato";
      border-bottom: 1px solid $Lightgrey;
      margin-bottom: 10px;

    }

    .img-block{
      width: 100px;
      float: left;
      padding: 8px 5px;

      img{
        border: 1px solid #ccc;
      }
    }
  }

}


