// Place all the styles related to the Statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

.container-statistics{
	
	.inner{
		width: 70%;
		margin: 0 auto;
	}

	.btn-group > input {
		display: none;
	}

	.btn-group input + .btn {
	   /* This is an actual copy/paste of the .btn-group .btn:first-child style */
	  border-radius: 4px;
	  border-radius: 4px;
	  margin-left: 0;
	  margin: 5px 0;
	  color: white;

	}


	#checkbox-inspections + label.btn{
		background-color: $inspections;
	}


	#checkbox-hearings + label.btn{
		background-color: $hearings;

	}
	
	#checkbox-judgements + label.btn{
		background-color: $judgements;
	}
	
	#checkbox-demolitions + label.btn{
		background-color: $demolitions;
	}

	input:checked + label.btn {
	  /* This is an actual copy/paste of the .btn:active style */
	  background-color: #E6E6E6;
	  background-image: none;
	  box-shadow: 0 2px 4px rgba(0, 0, 0.5, 0.9) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	  color: rgba(255, 255, 255, 0.8);
	  outline: 0 none;
	  opacity: 0.85;

	}



	input[disabled] + label.btn {
	  /* This is an actual copy/paste of the .btn:disabled style */
	  background-color: #E6E6E6;
	  background-image: none;
	  box-shadow: none;
	  cursor: default;
	  opacity: 0.55;
	}



	#stats-map{
		border: 1px solid $grey;
	}

	.layout-wrapper{

		width: 100%;
		position: relative;
		margin: 25px;
		.layout-slider{
			width: 500px;
			margin: 0 auto;
		}
	}

}

