// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-addresses{
	header{
		height: 40px;
    
		h1 {
  		float: left;
  		font-size: 135%;
  		margin: 0;
  		padding: 0 0 0 15px;
  		text-align: left;
  		width: 290px;
		}
	}

  .no-search-results{
    position: relative;
		
		.suggestions{
			width: 600px;
			margin:0 auto;
		}
  }
  
	.search-results{
		
    width: 100% !important;
    clear: both;
    
		.left-bar{
			float:left;
			padding: 0 20px;
      border: none;
			height: 100%;
			min-height: 500px;
			width: 20%;

      .result {
        a{
          text-transform:capitalize;
        }
      }

      ul.list.loading {
        opacity: 0.4;
      }

      #loading {
        display: none;
        top: 200px;
        left: 145px;
        position: absolute;
      }
		}
	}
  
  footer{
  	bottom: 0;
  	padding-bottom: 15px;
  	clear: both;
		position: relative;
    margin-top: 60px;
  	.footer{
  		bottom: 0;
  	}
  }

  .pager {
    margin-bottom: 15px;
  }

  .subscribe-button{
    &:hover{
      cursor: pointer;
    }
  }

  .map{
    border: 1px solid #ccc;
  }

  table {
    tr {
      padding: 5px 0;
    }

    td {
    }

    .status {
      min-width: 120px;
    }

    .date {
      min-width: 80px;
    }
  }
}

.ui-autocomplete{
  z-index: 100 !important;
}

.leaflet-container .leaflet-control-attribution{
	display: none;
}


.leaflet-popup-content h4{
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
}

.leaflet-marker-pane img.marked {
  border: 1px solid red;
}

.address.result.marked {
  border: 2px solid red;
}

.address-header {
  border-bottom: 4px solid #DD4814;
  margin-top: 6px;
  margin-bottom: 20px;
  height: 36px;

  .address-title {
    h1 {
      background: #DD4814;
      padding: 5px 10px;
      color: #fff;
    }
  }
}

.case-number {
  border-bottom: 3px solid #6e6e6e;
  width: 100%;

  h4 {
    background: #6e6e6e;
    color: #fff;
    float: left;
    padding: 3px 8px;
  }
}

.progress-bar-wrapper {
  margin-top: 10px;

  .date {
    &:before {
      width: 10px;
      height: 10px;
      margin: 4px 5px 0 0;
      display: block;
      float: left;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      color: #fff;
      background-color: #16A765;
      content: "_";
    }

    &.inspection:before {
      background-color: #FA573C;
    }

    &.notification:before {
      background-color: #FFAD46;
    }

    &.judgement:before {
      background-color: #4986E7;
    }

    &.resolution:before {
      background-color: #A47AE2;
    }
  }
}

.progress-bar-wrapper table{
  width:100%;
}

.property-status:hover{
  cursor:pointer;
}

.progress-indic-wrapper {
  margin-top: 4px;

  .date {
    &:before {
      width: 8px;
      height: 8px;
      margin: 2px 2px 0 0;
      display: block;
      float: left;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      color: #fff;
      background-color: #16A765;
      content: " ";
    }

    &.empty:before {
      background-color: #fff;
      border: 1px solid #CCCCCC;
      width: 6px;
      height: 6px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }

    &.inspection:before {
      background-color: #FA573C;
    }

    &.notification:before {
      background-color: #FFAD46;
    }

    &.hearing:before{
      background-color: #16A765;
    }

    &.judgement:before {
      background-color: #4986E7;
    }

    &.resolution:before {
      background-color: #A47AE2;
    }
  }
}

.cases {
  margin-top: 40px;
}

.case {
  margin-top: 20px;
}

.table-nolines th, .table-nolines td{
  border-top:none !important;
  padding-top: 0px !important;
}

.sidedivide{
  text-align:center;
  margin: 8px 0 8px 0;
}

.centered{
  text-align:center;
}

.assessor{
  font-size: 16px;
}

.pager a{
  cursor:pointer
}

.status-update{
  background-color:#ffffcc;
  display: inline-block;
  padding: 2px;
}
