@import url(http://fonts.googleapis.com/css?family=Lato:400,100italic,100,700);
@import url(http://fonts.googleapis.com/css?family=Kreon:700);


.btn{
    background: none repeat scroll 0 0 #62C1CC;
    border: 0 none;
    border-radius: 10px 10px 10px 10px;
    font-family: "Lato";
    font-weight: 300;
    height: 38px;
    text-transform: uppercase;	
}

h1{
	color: #F1601D;
	font-size: 30pt;
}