@import "variables.css.scss";

html{
  height: 100%;
  min-width: 970px;

  body { 
    background-image: url('/assets/ricepaper2.png'); 
    font-family: "Lato"; 
    font-weight: #58595B; 
    min-height: 100%; 
  }



  #wrapper{
    height: 100%;
    padding-bottom: 225px;
    width: 100%;
  }


  header {
    margin-bottom: 50px;

    .logo{
      padding: 8px 0;
    }
  }


  #warning{
    background-color: $darkGrey;
    color: $orange;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: $largeFontSize;
    line-height: 110%;
    letter-spacing: .5px;
  }



  footer{
    text-align: center;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    color: $darkGrey;
    padding: 20px 0;
    font-weight: 300;
    width: 100%;


    h3{
      text-align: left;
    }

    p{
      text-align: left;
    }

    .learn-more{

      h4{
        text-align: left; 
        font-size: 150%
      }

      p{
        padding-top: 40px;
        font-size: 150%;  
        line-height: 125%;  
        font-weight: 400;
        font-style: italic;
      }
    }

    .were-beta{
      h3{
        padding-bottom: 5px;
      }
    }

    .partner-with-us{
      h3{
        padding-bottom: 5px
      }

    }
  }



  .full-width{
    width: 1000px;
    margin: 0 auto;
  }
  .left-bar{
    border: none;
    min-height: 500px;
  }
  .right-bar{
    border: none;
    min-height: 500px;
  }

  .left{
    float: left;
    width: 47%;
    margin-right: 6%;
  }


  .right{
    float: left;
    width: 47%;
  }

}





h1{
  color: #F1601D;
  font-size: 30pt;  
}

h2, h3{
  font-family: "Lato";
  /* text-transform: uppercase; */ 
  color: $orange;
}


h4{
  font-family: "Lato";
  color: $orange;
  font-weight: 500;
}

/*
navbar
*/
.navbar{

  font-size: $largeFontSize;
  box-shadow: none;
  font-weight: 400;
  background: transparent;

  .border{
    position: absolute; width: 78%; 
    left: 260px; 
    top: 54px;
    border-bottom: 1px solid $headerLineBreakColor;
  }

  li{
    &.active{
      background-color: transparent;
      color: $orange;        
    }
  }


  .dropdown-menu{

    .logged-in, .logged-out{
      padding: 10px 20px;
    }

    .span3{
      margin-left:0;
      margin: 5px;
      a{
        margin:0; 
        padding: 0         
      }
    }

  }

  .top-account{

    background: url('/assets/arrow-down-orange.png') no-repeat right 16px;
    padding-right: 0px;

    a{
      color: $orange;        
      text-shadow: none;

        color: $orange !important;

    }


  }

  .top-links{

  }

  .top-search {
    display: block;
    float: right;
    left: 0;
    margin: 0px 0 0 0;
    position: relative;
    width: 240px;

    .transparent-submit{

      width: 20px;
      height: 30px;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 100;

      &:hover{
        cursor: pointer;
      }

    }

    .search-form{
//        width: 325px;
      margin: 0 auto;

      form{
        margin: 0 0 0;

        .btn-primary-search{
          display: none;
        }
      }

      .search-field{
        font-size: 100%;
        float: left;
        display: inline-block;

        #main-search-field{
          font-size: $smallFontSize;

        }

      }

      .search-button{
//        float: left;
//        display:inline-block;

        .btn{
          height: 30px;
        }
      }         
    }
  }
}



.btn{
  background: none repeat scroll 0 0 #62C1CC;
  border: 0 none;
  border-radius: 10px 10px 10px 10px;
  font-family: "Lato";
  font-weight: 300;
  text-transform: uppercase;  
}


.clear{
	clear: both;
}

.popover{
  .popover-inner{
    border: 2px solid #000;
    padding: 0;

    .popover-title{
      display:none;
    }
  }
}


#main-search-field{

  font-family: "Lato";
  font-size: 100%;
  margin: 5px;
  padding: 5px;
  background: url("/assets/search-icon.png") no-repeat scroll 210px 6px white;
  text-transform: capitalize;
  float: left;
  font-weight: 100;
  width: 220px;
}

.btn-primary-search{
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}

.address{

	&.result{
		margin-top: -1px;
		padding: 5px 3px;
    height: 35px;

		img{
			float: left;
			width: 12px;
			padding-right: 5px;
		}

		a{

			&:hover{
				text-decoration: none;
			}
		}
	}
}

.well {
  border: 0 none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  background-color: transparent;
  border: 0 !important;
  box-shadow: none !important;
}

.progress {
	height: 30px !important; 
	width: 100%;
  
	.bar {
	  	height: 30px !important; 
	    width: 60%;
  }
  
  span {
		border-color: #AAAAAA !important;
		border-style: solid !important;
		border-width: 0 1px 0 0;
		float: left;
		padding: 5px;
		font-size: 120%;
		width: 100px;
    
		&:hover{
			text-decoration: none;
			color: black;
      cursor: pointer;
		}
          
    a{
      color: white;
      text-decoration: none;
    }
  }	
}

.form-search label{
	width: auto;
}

#tag{
	position: absolute;
	right: 5%;
	top: -8px;
}

.row .pagination a {
  float: none;
}


.leaflet-control-attribution{
	display: none;
}

.leaflet-container{
  border: 1px solid #EEE;
}

.badge-yellow{
	background-color: #F9CC5D;
	border-radius: 10px 10px 10px 10px;
	color: #6A6867;
	float: left;
	font-size: 110%;
	letter-spacing: 0.7px;
	padding: 4px 10px;
	text-align: center;
}

.ui-corner-all{
	border-radius: 0 !important;
  font-family: "Lato";
  font-weight: 300;
  text-transform: capitalize;  
}

.btn-toolbar {
  margin-left: 20px;

  .pagination {
    border-left: 1px solid #ddd;
  }
}

#loader {
  top: 200px;
  left: 150px;
  position: absolute;
}


.search-address{
  color: #58595B;
  padding: 10px 10px 10px 40px;
  text-transform: capitalize;
}

.navbar{
  .nav{
    margin-top: 15px;
  }
}


ul.arrow-list{
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  &>li{
    margin: 0px 0;
    padding-left: 30px;
    background: url("/assets/arrow-right-orange.png") no-repeat scroll 10px 20px transparent;
    border-radius: 5px;
    padding: 12px 15px 5px 30px;

    &.active{
      background: url("/assets/arrow-down-orange.png") no-repeat scroll 10px 21px transparent;      
    }

  }

}

.progress-bar-wrapper .table tbody tr:hover td,
.progress-bar-wrapper .table tbody tr:hover th {
    background-color: inherit;
}

.jslider-value{
  background: transparent;
}
