@import "variables.css.scss";

html{
  height: 100%;
  min-width: 970px;

  body { 
//    background-image: url('/assets/ricepaper2.png');
    font-family: "Lato"; 
    font-weight: #58595B; 
    min-height: 100%; 
  }

  h1{
//    color: #F1601D;
    font-size: 30pt;
    font-weight: 400;
  }

  h2, h3{
    font-family: "Lato";
//    color: $orange;
  }

  h4{
    font-family: "Lato";
//    color: $orange;
    font-weight: 500;
  }

  #wrapper{
    height: 100%;
//    padding-bottom: 225px;
    padding-bottom: 75px;

    width: 100%;
//    background: url("http://www.textizen.com/assets/header-bg.png") repeat-x scroll 0 0 transparent;
  }

  header {
//    margin-bottom: 50px;

    .logo{
      padding: 5px 0;
    }
  }


  .header-background{
    z-index: -100; 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 60px; 
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000');
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F9F9F9));
    background: linear-gradient(#FFFFFF, #F9F9F9);
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F9F9F9 50%, #F1F1F1 65.1%, #EFEFEF 100%) repeat scroll 0 0 transparent;

    border-bottom: 1px solid #ddd;
  }


  #beta-logo{
    background: url("superbeta.png") no-repeat scroll 0 0 transparent;
    height: 100px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 500000;
  }

  footer{
    text-align: center;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    color: $darkGrey;
    padding: 20px 0;
    font-weight: 400;
    width: 100%;

    h3{
      text-align: left;
    }

    p{
      text-align: left;
    }

    .learn-more{
      h4{
        text-align: left; 
        font-size: 150%
      }

      p{
        padding-top: 40px;
        font-size: 150%;  
        line-height: 125%;  
        font-weight: 400;
        font-style: italic;
      }
    }

    .were-beta{
      h3{
        padding-bottom: 5px;
      }
    }

    .partner-with-us{
      h3{
        padding-bottom: 5px
      }

    }

    .city-footer-logo{
      padding: 10px 20px;
    }
  }

  .full-width{
    width: 1000px;
    margin: 0 auto;
  }
  .left-bar{
    border: none;
    min-height: 500px;
    background: white;
  }
  .right-bar{
    border: none;
    min-height: 500px;
  }

  .left{
    float: left;
    width: 47%;
    margin-right: 6%;
  }

  .right{
    float: left;
    width: 47%;
  }

}

.page-tabs{
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 20px;

  &.nav-tabs{
    border: 0px;
  }

  li{
    margin: 10px 0px -2px 0;

    a{
      border: 0;
      background-color: $lighterTeal;
      border-radius: 20px 20px 0 0;
      border-style: solid;
      border-width: 1px 1px 0 1px;
      border-color:  #ccc;
      text-transform: uppercase;
      font-size: 140%;
      padding: 15px 52px;
      color: $darkGrey;       

    }

    &.active{
      a{
        background-color: white;
        border-radius: 20px 20px 0 0;
        margin-bottom: -1px;          
        color: $darkGrey;       

      }
    }
  }
}

.tab-content{
  background: white;

  form {
    padding: 20px 0 10px;
    input[type="checkbox"] {
      float: left;
      margin-right: 5px;
    }

    input[type="submit"] {
      margin-top: 14px;
    }

    .rememberable {
      padding: 7px 0 0;
    }
  }

  .span3 {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px 10px 20px 20px;
    margin-top: 10px;
    margin-right: -40px;
    float: right;

    li {
      padding: 5px 0;
    }
  }
}

.tab-pane-content{
  border: solid #ddd;
  border-width: 1px 1px 1px 1px;
  border-radius: 0 0 20px 20px;
  padding: 40px;
}

/*
navbar
*/
.navbar{

  font-size: $largeFontSize;
  box-shadow: none;
  font-weight: 400;
  background: transparent;

  .border{
    position: absolute; width: 78%; 
    left: 260px; 
    top: 54px;
    border-bottom: 1px solid $headerLineBreakColor;
  }


  .nav{
    margin-top: 11px;
    li{      
      a{
//        font-size: 90%;
        text-shadow: none;
        &.active{
          background-color: transparent;
          color: $orange;        
        }
      }
    }
  }

  .dropdown-menu{

    padding: 20px;
    .span3 {
      padding: 5px 0;
      margin: 0;


      &.login-form {
        a {
          font-size: 80%;
          padding: 0px;
        }

      }

      &.sign-up {
        font-size: 90%;
        a {
          display: inline;
          padding: 3px 20px;

        }
      }

      input, label {
        float: left;
        margin: 11px 5px 2px 0;

        &[type="submit"] {
          float: right;
          margin-top: 9px;
        }

        &[type="checkbox"] {
          margin-top: 14px;
        }
      }
    }
  }

  .top-account{
    background: url('/assets/arrow-down-orange.png') no-repeat right 16px;
    padding-right: 0px;

    a{
      text-shadow: none;
      color: $orange;
    }
  }

  .top-search {
    display: block;
    float: right;
    left: 0;
    margin: 15px 0 0 0;
    position: relative;
    width: 240px;

    .search-form{
      margin: 0 auto;

      form{
        margin: 0 0 0;
      }

      .search-field{
        font-size: 100%;
        float: left;
        display: inline-block;

        #main-search-field{
          font-size: 85%;
          width: 203px;
          padding: 5px 22px 5px 5px;
          text-transform: none;
        }
      }
    }
  }
}


.dropdown-menu li{

  a{
    &:hover{
      background: $orange;
      color: white;
    } 
  }  

}

//.dropdown-menu {
//  li {
//    a{
//      &:hover{
//        background: none;
//        color: $lightTeal;
//      }
//    }
//  }
//}

.btn{
  background: $orange;
//  border: 0 none;
//  border-radius: $borderRadius;
  font-family: "Lato";
  font-weight: 400;
  text-transform: uppercase;  

  &:hover{
//    background-color: $lightOrange;
  }
}

.btn-tight{
  padding: 3px 5px;
}
.btn-large{
  font-size: 120%;
  padding: 5px 10px;
}



.clear{
	clear: both;
}

.popover{
  .popover-inner{
    border: 2px solid #000;
    padding: 0;

    .popover-title{
      display:none;
    }
  }
}


#main-search-field{
  font-family: "Lato";
  font-size: 140%;
  margin: 1px;
  text-transform: capitalize;
  float: left;
  font-weight: 300;
  width: 270px;
  padding: 10px;
}

.btn-primary-search{
  height: 30px;
}

.btn-secondary-search{
  background: url("/assets/search-icon.png") no-repeat scroll 0 0 white;
  border: medium none;
  height: 20px;
  padding: 0;
  position: absolute;
  right: 9px;
  top: 8px;
  width: 17px !important;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}

.address{
	&.result{
		margin-top: -1px;
		padding: 5px 3px;
    height: 35px;

		img{
			float: left;
			width: 12px;
			padding-right: 5px;
		}

		a{

			&:hover{
				text-decoration: none;
			}
		}
	}
}

.well {
  border: 0 none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  background-color: transparent;
  border: 0 !important;
  box-shadow: none !important;
}

.progress {
	height: 30px !important; 
	width: 100%;
  
	.bar {
	  	height: 30px !important; 
	    width: 60%;
  }
  
  span {
		border-color: #AAAAAA !important;
		border-style: solid !important;
		border-width: 0 1px 0 0;
		float: left;
		padding: 5px;
		font-size: 120%;
		width: 100px;
    
		&:hover{
			text-decoration: none;
			color: black;
      cursor: pointer;
		}
          
    a{
      color: white;
      text-decoration: none;
    }
  }	
}

.form-search label{
	width: auto;
}

#tag{
	position: absolute;
	right: 5%;
	top: -8px;
}

.row .pagination a {
  float: none;
}


.leaflet-control-attribution{
	display: none;
}

.leaflet-container{
  border: 1px solid #EEE;
}


.add-icon{
  width:10px; padding: 0px 2px;
}
.badge-yellow{
	background-color: #F9CC5D;
	border-radius: $borderRadius;
	color: #6A6867;
	float: left;
	font-size: 110%;
	letter-spacing: 0.7px;
	padding: 4px 10px;
	text-align: center;
}

.ui-corner-all{
	border-radius: 0 !important;
  font-family: "Lato";
  font-weight: 300;
  text-transform: capitalize;  
}

.btn-toolbar {
  margin-left: 20px;

  .pagination {
    border-left: 1px solid #ddd;
  }
}

#loader {
  top: 200px;
  left: 150px;
  position: absolute;
}


.search-address{
  color: #58595B;
  padding: 10px 10px 10px  10px;
  text-transform: capitalize;
}




ul.arrow-list{
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  &>li{
    margin: 0px 0;
    padding-left: 30px;
    background: url("/assets/arrow-right-orange.png") no-repeat scroll 10px 20px transparent;
    border-radius: 5px;
    padding: 12px 15px 5px 30px;

    &.active{
      background: url("/assets/arrow-down-orange.png") no-repeat scroll 10px 21px transparent;      
    }

  }

}

.progress-bar-wrapper .table tbody tr:hover td,
.progress-bar-wrapper .table tbody tr:hover th {
    background-color: inherit;
}

.jslider-value{
  background: transparent;
}

.dropdown-menu a{
  padding: 3px 10px;
}
#account_remember_me{
  float: left;
  padding: 2px 6px 2px 0;

  &+{
  margin-left: 20px;    
  }
}


  

hr.soften {
  height: 1px;
  margin: 1px 0 10px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  border: 0;
}


.search-results{
  
  
  .map-left-bar{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100000;

    &.transparent{
      opacity: .8;
    }

  }
  .left-bar{
    border: none;


    .result {
      a{
        text-transform:capitalize;
      }
    }

    .well{
      position: relative;

      .nav{
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    li.result a{
      color: #58595B;
    }

    li.result:hover{
//        background: url("/assets/marker-selected.png") no-repeat 10px 4px  $lighterTeal;
      border-radius: 5px;
    }

    ul.list.loading {
      opacity: 0.4;
    }

    #loading {
      display: none;
      left: 60px;
      top: 100px;
    }

    .nav-header{
      text-align: left;
      p{
        font-family: "Lato";
        font-weight: 300;
        font-style: italic;
        font-size: 95%;
      }

      border-bottom: #ccc 1px solid;
      margin-bottom: 20px;

    }
  }
}

.query-selector {
  font-size: 120%; 
  padding-left: 0 10px; 
  margin: 15px 0 5px;
}


.CNO-logo{
  background: url("/assets/CNO_logo.gif") no-repeat scroll 0 0 transparent;
  height: 300px;
  width: 325px;
}

#legal-disclaimer{
  display: none;
}

.disclaimer{
  padding: 20px 50px;
  text-align: left;
  line-height: 170%;
  p{
    font-size: 120%;
  }
  b{
    font-weight:700;
  }
}

.disclaimer-email-form{
  padding: 10px;
  text-align: center;
  line-height: 170%;
  p{
    font-size: 120%;
  }
}
