@import url(http://fonts.googleapis.com/css?family=Lato:400,300,200,100italic,100,200,300,700);
@import url(http://fonts.googleapis.com/css?family=Kreon:700);


$lighterTeal: #CCECEB;
$lightTeal: #62CCCC;
$darkTeal: #008E8A;

$lightBeige: #EBE9E1;
$lightBeige: #D1CEC1;

$grey: #6D6E71;
$lightGrey: #EEE;
$darkGrey: #58595B;
$darkerGrey: #4D4D4D;

$orange: #F1601D;
$lightOrange: #FCAD22;

//font colors



//stages in process
$inspections: $darkTeal;
$hearings: $lightTeal;
$judgements: $lightOrange;
$demolitions: $orange;


//font sizes
$smallerFontSize: 80%;
$smallFontSize: 90%;
$normalFontSize: 100%;
$largeFontSize: 125%;
$largerFontSize: 150%;
$largestFontSize: 200%;


//borders
$headerLineBreakColor: #CCCCCC;

@import "mixins.css.scss";
