@import url(http://fonts.googleapis.com/css?family=Lato:400,300,200,100italic,100,200,300,700);
@import url(http://fonts.googleapis.com/css?family=Kreon:700);

$lightTeal: #62CCCC;
$darkTeal: #008E8A;
$lightBeige: #EBE9E1;
$lightBeige: #D1CEC1;
$grey: #6D6E71;
$darkGrey: #58595B;
$orange: #F1601D;
