%footer{:style => "font-weight: 300"}
  .container
    .row-fluid
      .span5
        %p{:style=>"padding-top: 20px;font-size: 150%;  line-height: 155%; font-style: italic; font-weight: 500"}
          BlightSTATUS provides clear and concise information about what’s happening with properties in your area. 

        %h4{:style => "text-align: left; font-size: 150%"}
          Learn More >


      .span3
        %h3{:style => "padding-bottom: 5px;"}
          We're in Beta!
        %p
          The quality of our data may not be perfect, and will improve over time. Learn more about our data quality at our

          =link_to "Stats page", "/stats"

        %p
          We want your feedback! Please feel free to ask a question, report a problem, or suggest a feature. 
              
      .span1

      .span3
        %h3{:style => "padding-bottom: 5px;"}
          Partner with us
        %p
          If you’d like to see blightSTATUS in your city, please let us know! We want to work with you.
      
        %h3{:style => "padding-bottom: 5px;"}
          Get in touch
        %p

          =mail_to "neworleans@codeforamerica.org", "> neworleans@codeforamerica.org"



      
