%footer
  .container.footer
    .span5.learn-more
      %p
        BlightSTATUS provides clear and concise information about what’s happening with properties in your area. 
        
      %h4        
        =link_to "Learn more >", "/pages/about"

    .span3.were-beta
      %h3
        We're in Beta!
      %p
        We're hard at work making this site as useful and informative as possible, and your feedback is a vital part of the process.

      %p
        Don't hesitate to ask a question, report a problem, or suggest a feature - 
        %a{:href => "mailto:blightstatus@codeforamerica.org"} 
          we'd love to hear from you!
    

    .span3.partner-with-us
      %img{:src => "/assets/CNO_logo.gif" :width => "200px"}