%footer
  .container.footer
    .span5.learn-more
      %h3
        About BlightStatus
      %p
        BlightStatus provides accurate and up-to-date information about what’s happening with properties in New Orleans. 
        
      %h4        
        =link_to "Learn more >", "/pages/about"

    .span3.were-beta
      %h3
        We're in Beta!
      %p
        We're hard at work making this site as useful and informative as possible, and your feedback is a vital part of the process.

      %p
        Please help us make this site better by reporting technical problems to 
        %a{:href => "mailto:blightstatus@codeforamerica.org"} 
          blightstatus@codeforamerica.org.
    

    .span3.city-footer-logo
      %img{:src => "/assets/CNO_logo.gif", :width => "200px"}