
%footer
  .container
    .span4
      %h3
        We're in Beta!
      %p
        We're busy at work building and improving this website, so we want your feedback! Please feel free to ask a question, report a problem, or suggest a feature.
      %p
        If you are a developer and want to help us build this thing, check out the developer site
      %p
        Thanks!

    .span4
      %h3
        Contact Us
      %p
        Code for America Home
        %br
          Visit our main site
      %p
        Email
        %br
          neworleans@codeforamerica.org
      %p
        Twitter
        %br
          %a{:href => "http://twitter.com/blightstatus"}
            @blightstatus

    .span3
      %h3
        Partners
      %p
        =image_tag 'http://commons.codeforamerica.org//sites/all/themes/civiccommons/images/codeforamerica.png'
      %p
        =image_tag 'http://commons.codeforamerica.org//sites/all/themes/civiccommons/images/codeforamerica.png'




/ %footer#section-footer.section.section-footer
/   #zone-footer-wrapper.zone-wrapper.zone-footer-wrapper.clearfix
/     #zone-footer.zone.zone-footer.clearfix.container-16
/       #region-content-bottom.grid-6.region.region-content-bottom
/         .region-inner.region-content-bottom-inner
/           #block-block-5.block.block-block
/             .block-inner.clearfix
/               %h2.block-title We're in Beta!
/               .content.clearfix
/                 %p
/                   We're busy at work building and improving this website, so we want your feedback! Please feel free to
/                   = succeed "." do
/                     %a{:href => "http://getsatisfaction.com/civiccommons", :target => "_blank"} ask a question, report a problem, or suggest a feature
/                 %p
/                   If you are a developer and want to help us build this thing, check out the
/                   %a{:href => "http://developer.civiccommons.org/projects/mktplc", :target => "_blank"} developer site
/                 %p
/                   Thanks!
/                   %br
/                     The CfA Commons team
/       #region-content-bottom2.grid-5.region.region-content-bottom2
/         .region-inner.region-content-bottom2-inner
/           #block-block-6.block.block-block
/             .block-inner.clearfix
/               %h2.block-title Contact Us
/               .content.clearfix
/                 %p
/                   %strong Code for America Home
/                   %br
/                     Visit our
/                     %a{:href => "http://codeforamerica.org", :target => "_blank"} main site
/                 %p
/                   %strong Email
/                   %br
/                     commons [at] codeforamerica [dot] org
/                 %p
/                   %strong Twitter
/                   %br
/                     %a{:href => "https://twitter.com/cfacommons"} @cfacommons
/       #region-content-bottom3.grid-5.region.region-content-bottom3
/         .region-inner.region-content-bottom3-inner
/           #block-block-7.block.block-block
/             .block-inner.clearfix
/               %h2.block-title Partners
/               .content.clearfix
/                 %a{:href => "http://codeforamerica.org", :target => "_blank"}
/                   %img{:src => "/sites/all/themes/civiccommons/images/codeforamerica.png"}/
/                 %a{:href => "http://openplans.org", :target => "_blank"}
/                   %img{:src => "/sites/all/themes/civiccommons/images/openplans.png"}/