.modal.hide.fade#why-data-incomplete
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    .login-information{:style => "margin: 0 auto; font-size: 90%;"}
      %h2{:style => "font-size: 150%;"}
        We’re aggregating a lot of different data sources to tell a complete story about each property, and everything might not be perfectly integrated yet. However, it’s going to be improving every day
    %br
    %hr.soften
    %br
    .register-or-login
      %h3{:style => "margin: 0 auto; text-align: center"}
        %a.btn.btn-primary.btn-large{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Return to website
    / %h2
    /   Not sure yet? 
    /   =link_to Take a Tour >

%footer
  .container.footer
    .span5.learn-more
      %h3
        About BlightStatus
      %p
        BlightStatus allows citizens to see what the City is doing about blighted properties in New Orleans. 
        
      %h4        
        =link_to "Learn more >", "/pages/about"

    .span3.were-beta
      %h3
        We're in Beta!
      %p
        We're hard at work making this site as useful and informative as possible, and your feedback is a vital part of the process.
      %p
        Please help us make this site better by reporting technical problems to 

        =link_to('#contact-form-prompt', "data-animation" => "true", :trigger => "hover", :delay => 100, "data-placement"=>"bottom", :rel=>"tooltip", "data-toggle"=>"modal", "data-title"=>"Receive notifications when the status of this property changes") do
          blightstatus@codeforamerica.org

        .modal.hide.fade#contact-form-prompt
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          .modal-body
            .login-information{:style => "margin: 0 auto; font-size: 90%;"}
              %h2{:style => "font-size: 150%;"}
                This email does not send information to Code Enforcement. 
              %h2{:style => "font-size: 150%;"}
                Please contact <b>311</b> for any requests about specific addresses.
            %br
            %hr.soften
            %br
            .register-or-login
              %h3{:style => "margin: 0 auto; text-align: center"}
                %a.btn.btn-primary.btn-large{:href => "mailto:blightstatus@codeforamerica.org"} Email Us
                OR 
                %a.btn.btn-primary.btn-large{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Return to website
            / %h2
            /   Not sure yet? 
            /   =link_to Take a Tour >





    .span3.city-footer-logo
      %img{:src => "/assets/CNO_logo.gif", :width => "200px"}