%footer
  .container
    .span4
      %h3
        We're in Beta!
      %p
        We're busy at work building and improving this website, so we want your feedback! Please feel free to ask a question, report a problem, or suggest a feature.
      %p
        If you are a developer and want to help us build this thing, check out the developer site
      %p
        Thanks!

    .span3
      %h3
        Contact Us
      %p
        Code for America Home
        %br
          Visit our main site
      %p
        Email
        %br
          neworleans@codeforamerica.org
      %p
        Twitter
        %br
          %a{:href => "http://twitter.com/blightstatus"}
            @blightstatus

    .span2
      %h3
        Partners
      %p
        =image_tag 'http://commons.codeforamerica.org//sites/all/themes/civiccommons/images/codeforamerica.png'
      %p
        =image_tag 'city_seal.jpg'
