%footer
  .container
    .span5.learn-more
      %p
        BlightSTATUS provides clear and concise information about what’s happening with properties in your area. 
        
      %h4        
        =link_to "Learn more >", "/pages/about"


    .span3.were-beta
      %h3
        We're in Beta!
      %p
        We're hard at work making this site as useful and informative as possible, and your feedback is a vital part of the process.

      %p
        Don't hesitate to ask a question, report a problem, or suggest a feature - 
        %a{:href => "javascript:UserVoice.showPopupWidget();"} 
          we'd love to hear from you!
            

    .span3.partner-with-us
      %h3
        Partner with us
      %p
        If you’d like to see blightSTATUS in your city, please let us know. We want to work with you!

      %h3
        Get in touch
      %p

        =mail_to "neworleans@codeforamerica.org", "> neworleans@codeforamerica.org"
  .clearfix


