.navbar
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}
        =image_tag "blightstatus-logo.png"
      .nav-collapse
        .border
        %ul.nav.nav-pills.top-account.pull-right{"role" => "navigation"}
          %li.dropdown
            %a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              Account
              %b.caret
            .dropdown-menu.container{"aria-labelledby" => "drop1", :role => "menu"}
              -if account_signed_in?
                .logged-in
                  .span3
                    You are logged in as 
                    =current_account.email
                  .span3
                    =link_to "Manage Alerts", "/accounts"
                  .span3
                    =link_to('Logout', destroy_account_session_path, :method => :get)
                  .clearfix
              -else
                %ul.nav.nav-tabs
                  %li.active
                    %a{:href => "#"} Sign In
                  %li
                    %a{:href => "#"} Register
                  .clearfix

        %ul.nav.top-links
          %li
            =link_to "About", "/pages/about"
          %li
            =link_to "Help", "/pages/help"
        %ul.nav.top-search
          %li
            - if(controller_name != 'home')
              =render "layouts/search"        


