.navbar
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}
        =image_tag "blightstatus-logo.png"
      .nav-collapse.collapse
        %ul.nav.top-account.pull-right
          %li
            =link_to "Account", "/pages/about"
        %ul.nav.top-links
          %li
            =link_to "About", "/pages/about"
          %li
            =link_to "Help", "/pages/help"
        %ul.nav.top-search
          %li
            - if(controller_name != 'home')
              =render "layouts/search"        
