.navbar
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}
        =image_tag "blightstatus-logo.png"
      .nav-collapse.collapse
        %ul.nav
          %li
            =link_to "About", "/pages/about"
          %li
            =link_to "Help", "/pages/help"
          / %li
          /   %a{:href => "/stats"} Stats
          / -if account_signed_in?
          /   %li
          /     =link_to "My Account", "/accounts"
          /   %li
          /     =link_to "Logout", destroy_account_session_path, :method => :delete 
          / -else
          /   %li
          /     =link_to('Register', new_account_registration_path)
          /   %li
          /     =link_to('Login', new_account_session_path) 
          %li
            - if(controller_name != 'home')
              =render "layouts/search"        
