/ Sidebar content
.well{:style => "padding: 8px 0;"}
%ul.nav.nav-list
  %li.nav-header Subscriptions
  %li.active
    %a{:href => "#"} Individual Houses   
  %li
    %a{:href => "#"} Groups of Houses
  %li.divider
  %li
    %a{:href => "#"} Settings
  %li
    %a{:href => "#"} Help