/ Sidebar content
.well{:style => "padding: 8px 0;"}
%ul.nav.nav-list
  %li.nav-header Subscriptions
  %li{:class => action_name == "index" ? "active" : ''}
    %a{:href => "/accounts"} Subscriptions
  %li
    %a{:href => "#"} Help