.container
  .container-fluid
    .row-fluid
      / Body content
      /=@user.inspect
      /=@account_subcriptions.length

      %table{ :class => "table table-striped table-bordered", :id => "subscriptions"}
        %thead
          %tr
            %th Photo    
            %th Address
            %th Action
            %th Date
            %th 
        %tbody
          -@account_subcriptions.each do |n|
            %tr
              %td
                / =n.inspect
                =image_tag("http://maps.googleapis.com/maps/api/streetview?location="+n.point.y.to_s+","+n.point.x.to_s+"&size=200x100&sensor=true")
              %td
                =link_to n.address_long, address_path(n)

              -if n.most_recent_status_preview.count == 2
                -n.most_recent_status_preview.each do |index, val|
                  %td
                    =val
              -else
                %td
                  
                %td
              %td
                %div{:data=>n.id, :class=>"btn btn-primary btn-large"}
                  Unsubscribe



              

