.container-fluid
  .row-fluid
    .span2
      =render "accounts/menu"
      
    .span8
      / Body content
      /=@user.inspect
      /=@account_subcriptions.length
      %table.table.table-bordered
        %thead
          %tr
            %th Select    
            %th Photo    
            %th Address
            %th Recent Status
            %th Notes

        %tbody
          -@account_subcriptions.each do |n|
            %tr
              %td
                %input{:type => "checkbox"}
              %td
                %div{:style => "width: 100px; height: 100px; background: url('/assets/neworleans_homes.png') no-repeat; background-position: 1050 140" }
              %td
                =link_to n.address_long, address_path(n)
              %td
                Inpections
              %td
                Random notes

