.container.about-page-content
  
  .span12
    .span8{:style => "margin-left: 0"}
      .notice
        %h1
          My Watchlist
    .span4

  .left-bar.span8
    .block
      .row#subscriptions
        -if @account_subcriptions.count > 0

          -@account_subcriptions.each do |address|
            .subscription{:id => "subscription-#{address.id}" }
              %h2.address-title
                =address.address_long


              -address.sorted_cases.each do |c|
                .progress-bar
                  %h3
                    Case:
                    =c.case_number
                  =render :partial => "addresses/progress-bar", :locals => {:kase => c}
                  -if c.case_data_error?
                    .block{:style => "text-align: center; padding: 0 0 10px; margin:0 auto;"}
                      %b{:style => "color: red"}
                        Warning:
                      This case is missing data.
              .clearfix
              %br
              .subscribe
                =link_to('Remove Watchlist', "/subscriptions/#{address.id}", :remote => true, :method => :delete, 'data-type' => 'json', :class => 'btn btn-primary btn-large btn-tight subscribe-button' , :id => "subscribe-button")
              .view-property
                =link_to address do
                  .btn.btn-primary.btn-large.btn-tight
                    View Property
            .clearfix

  .right-bar.span3
    .map#map{:style => "width: 300px; height: 200px"}
          

