.container.about-page-content.accounts-page  
  .span12
    .span8{:style => "margin-left: 0"}
      .notice
        %h1
          My Watchlist
    .span4
  .row.span8
    .block
      #subscriptions
        #subscriptions-information
          %p
            Add properties to your Watchlist to keep track of their progress, all in one place. 
          %p
            Receive email alerts the moment any of the properties you are watching move forward in the blight process. 
        #no-subscriptions-found.case
          %p
            To watch a property, search for an address and you'll see a button at the top of the page that looks like this:
          %p
            =image_tag 'watchlist-sample.png'
          %p
            Click it, and that property will be instantly added to your Watchlist.

        -@account_subcriptions.each do |address|
          .subscription{:id => "subscription-#{address.id}" }

            %h2.address-title
              =link_to address do
                =address.address_long



            -address.cases_sorted_by_state.each do |c|
              .progress-bar
                %h3
                  Case:
                  =c.case_number
                  %div.pull-right{:style => "margin: 10px 0 10px 10px"}
                    -if c.state == 'Open'
                      .label.label-success
                        Case: 
                        =c.state
                    -else
                      .label.label-important
                        Case: 
                        =c.state

                =render :partial => "addresses/progress-bar", :locals => {:kase => c}

            =render :partial => "addresses/additional-address-information", :locals => {:address => address}

            .clearfix
            %br
            .view-property
              =link_to address do
                .btn.btn-primary.btn-tight
                  View Property
            .subscribe
              =link_to('Remove', "/subscriptions/#{address.id}", :remote => true, :method => :delete, 'data-type' => 'json', :class => 'btn btn-primary btn-tight subscribe-button' , :id => "subscribe-button")

          .clearfix
  .row.span3
    .map#map{:style => "width: 300px; height: 200px"}
    .email-notification
      =form_for :account do |f|
        =f.check_box :send_notifications
        =f.label :send_notifications, "Receive Email Updates"


