.container-fluid
  .row-fluid
    .span8
      / Body content
      /=@user.inspect
      /=@account_subcriptions.length

      %table{ :class => "table table-striped table-bordered", :id => "subscriptions"}
        %thead
          %tr
            / %th Select    
            %th Location    
            %th Address
            / %th Notes

        %tbody
          -@account_subcriptions.each do |n|
            %tr
              %td
                %div{:style => "background: url('/assets/neworleans_homes.png') repeat scroll 206px 0 transparent; height: 80px; width: 90px;" }
              %td
                =link_to n.address_long, address_path(n)
                -n.most_recent_status_preview.each do |index, val|
                  .div
                    =val

